@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/static/Rubik-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: black;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/static/Rubik-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: black;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/static/Rubik-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/static/Rubik-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/static/Rubik-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/static/Rubik-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/static/Rubik-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: medium;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/static/Rubik-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: medium;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/static/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous/Righteous-Regular.eot");
  src: url("../fonts/Righteous/Righteous-Regular.eot?#iefix")
  format("embedded-opentype"),
  url("../fonts/Righteous/Righteous-Regular.woff2") format("woff2"),
  url("../fonts/Righteous/Righteous-Regular.woff") format("woff"),
  url("../fonts/Righteous/Righteous-Regular.ttf") format("truetype"),
  url("../fonts/Righteous/Righteous-Regular.svg#Righteous-Regular")
  format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Roboto/roboto-v30-cyrillic_latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Roboto/roboto-v30-cyrillic_latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Roboto/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Montserrat/montserrat-v26-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/montserrat-v26-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat/montserrat-v26-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Montserrat/montserrat-v26-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Montserrat/montserrat-v26-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
  --gray: rgba(124, 124, 124, 1);
  --white: #fff;
  --main: rgba(245, 149, 2, 1);
  --darkgray: rgba(30, 27, 29, 1);
  --black: #000;
}

body{
  position: relative;
  font-family: Rubik;
  background-color: black;
  background-image: url(./../image/image/somenoise.svg);
}

.wrapper{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 108px;

  margin: 0 auto;
  max-width: 1440px;
}

a{
  color: var(--white);
}

p{
  color: var(--white);
}

button{
  color: var(--white);
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.logo-link img{
  height: 58px;
  min-width: 148px;
}

.btn__item {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;

  color: var(--white);
}

.btn__item span {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;

  color: var(--gray);
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.header-links-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.header__community {
  display: flex;
  flex-direction: row;
  gap: 13px;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}

.header-community__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;

  color: var(--main);
}

.header__search {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.header-search__input {
  width: 65px;
  height: 20px;
}

.header__profile {
  display: flex;
}

.header-profile__currency {
  margin-right: 33.36px;

  display: flex;
  flex-direction: row;
  gap: 8px;

  justify-content: center;
  align-items: center;
}

.header-profile__currency p{
  color: var(--gray);
}

.header-profile__currency span{
  color: var(--white);
}

.header-profile__balance {
  margin-right: 16px;

  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;

  color: var(--white);
}

.header-profile__img {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.profile__img-header{
  min-width: 39px;
  height: 40px;
}

/* PROFILE */

.profile {
  margin-top: 60.97px;
  margin-bottom: 204px;
}

.profile__title {
  margin-bottom: 36px;

  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;

  color: var(--white);
}

.profile-slider__box{
  margin-bottom: 48px;
}

.profile__slider-invite {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.slider-invite__balance {
  width: 452.67px;
  height: 189px;

  padding-top: 20px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 20px;
  border-radius: 20px;

  background-color: var(--darkgray);
}

.invite-balance__title {
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;

  color: var(--gray);
}

.invite-balance__money {
  margin-bottom: 19px;

  font-size: 46px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
}

.btn {
  width: 137px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: var(--main);
}

.slider-invite__invite {
  width: 452.67px;
  height: 189px;

  padding-top: 20px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 20px;
  border-radius: 20px;

  background-image: url(./../image/image/invite-img.svg);
}

.invite-invite__title {
  margin-bottom: 49px;

  width: 216px;

  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
}

.btn-white {
  width: 137px;
  height: 44px;
  border-radius: 12px;
  background-color: var(--white);
  color: var(--black);
}

.slider-invite__content {
  width: 452.67px;
  height: 189px;

  padding-top: 20px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 20px;
  border-radius: 20px;

  background-image: url(./../image/image/exclusive-img.svg);
}

.invite-content__title {
  margin-bottom: 49px;

  width: 263px;

  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
}

.profile__main-menu {
  width: 412px;

  margin-bottom: 36px;

  display: flex;
  flex-direction: row;
  gap: 28px;
}

.profile-menu__items-active{
  color: var(--white);
}

.profile-menu__items{
  color: var(--gray);
}

.profile__table {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile-table__title {
  display: flex;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.table-title__data {
  margin-right: 147px;

  color: var(--gray);
}

.table-title__type {
  margin-right: 912px;

  color: var(--gray);
}

.table-title__summ {
  margin-right: 125px;

  color: var(--gray);
}

.table-title__panel {
  color: var(--gray);
}

.profile-table__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile-table__info {
  display: flex;
}

.table-info__data {
  margin-right: 30px;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.table-info__game {
  margin-right: 55px;

  width: 883.14px;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.table-info__game span {
  color: var(--main);
}

.table-info__summ {
  margin-right: 98px;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.table-info__panel {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;

}

/* PRODUCT */

.product__table{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.product-table__info{
  align-items: flex-start;
  display: flex;
}

.table-info__price {
  margin-right: 56px;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

.info-price__actual {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.138px;

  color: var(--white);
}

.info-price__past {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.price-past__value {
  text-decoration: line-through;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20.11px;

  color: var(--gray);
}

.price-past__sale {
  color: var(--main);
}

.table-info__name {
  margin-right: 300px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  color: var(--white);
}

.table-info__btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


/* DISCUSS */

.discuss__table {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.table__active {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.active__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;

  color: var(--white);
}

.discuss-table_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-box__title {
  display: flex;

  color: var(--white);
}

.box-title__data {
  margin-right: 147px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;

  color: var(--gray);
}

.box-title__product {
  margin-right: 1083px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;

  color: var(--gray);
}

.box-title__summ {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;

  color: var(--gray);
}

.table-box__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.box-info__value {
  display: flex;

  color: var(--white);
}

.info-value__data {
  margin-right: 30px;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.info-value__product {
  margin-right: 259px;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.info-value__summ {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.table__nonactive {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.nonactive__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;

  color: var(--white);
}

/* SETTINGS */

.settings__table {
  display: flex;
  flex-direction: row;
  gap: 148px;
}

.settings-table__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.table-box__title {
  font-size: 26px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;

  color: var(--white);
}

.box-account__edit {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.account-edit__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.info__nickname {
  width: 274px;
  height: 56px;

  border-radius: 6px;

  padding-top: 11px;
  padding-left: 18px;

  background-color: rgba(44, 44, 44, 1);
}

.info__nickname p{
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;

  color: var(--gray);
}

.info__nickname input::placeholder{
  color: var(--white);
}

.info__email {
  width: 274px;
  height: 56px;

  border-radius: 6px;

  padding-top: 11px;
  padding-left: 18px;

  background-color: rgba(44, 44, 44, 1);
}

.info__email p{
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;

  color: var(--gray);
}

.info__email input::placeholder{
  color: var(--white);
}

.info__phone {
  width: 274px;
  height: 56px;

  border-radius: 6px;

  padding-top: 11px;
  padding-left: 18px;

  background-color: rgba(44, 44, 44, 1);
}

.info__phone p{
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;

  color: var(--gray);
}

.info__phone input::placeholder{
  color: var(--white);
}

.edit-info__btn {
  width: 207px;
  height: 48px;

  border-radius: 6px;
  border: 1px;
  border-style: solid;

  border-color: var(--gray);
  color: var(--gray);
}

.account-edit-password {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.password__last {
  width: 274px;
  height: 56px;

  padding-top: 19px;
  padding-left: 18px;

  border-radius: 6px;

  background-color: rgba(44, 44, 44, 1);
}

.password__last input::placeholder{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;


  color: var(--gray);
}

.password__new {
  width: 274px;
  height: 56px;

  padding-top: 19px;
  padding-left: 18px;

  border-radius: 6px;

  background-color: rgba(44, 44, 44, 1);
}

.password__new input::placeholder{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;


  color: var(--gray);
}

.password__repeat {
  width: 274px;
  height: 56px;

  padding-top: 19px;
  padding-left: 18px;

  border-radius: 6px;

  background-color: rgba(44, 44, 44, 1);
}

.password__repeat input::placeholder {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;


  color: var(--gray);
}

.box-account__soc {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.account-soc__inputs {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.soc-inputs__steam {
  width: 274px;
  height: 56px;

  padding-left: 16px;

  border-radius: 6px;

  align-items: center;

  display: flex;
  flex-direction: row;
  gap: 10px;

  background-color: rgba(44, 44, 44, 1);
}

.soc-inputs__steam p{
  color: var(--gray);
}

.soc-inputs__google {
  width: 274px;
  height: 56px;

  padding-left: 16px;

  border-radius: 6px;

  align-items: center;

  display: flex;
  flex-direction: row;
  gap: 10px;

  background-color: rgba(44, 44, 44, 1);

  opacity: 33%;
}

.soc-inputs__google p{
  color: var(--gray);
}

.soc-inputs__vk {
  width: 274px;
  height: 56px;

  padding-left: 16px;

  border-radius: 6px;

  align-items: center;

  display: flex;
  flex-direction: row;
  gap: 10px;

  background-color: rgba(44, 44, 44, 1);

  opacity: 27%;
}

.soc-inputs__vk p{
  color: var(--gray);
}

.soc-inputs__facebook {
  width: 274px;
  height: 56px;

  padding-left: 16px;

  border-radius: 6px;

  align-items: center;

  display: flex;
  flex-direction: row;
  gap: 10px;

  background-color: rgba(44, 44, 44, 1);

  opacity: 15%;
}

.soc-inputs__facebook p{
  color: var(--gray);
}

/* CREATE */

.create{
  max-width: 514px;

  margin-top: 56px;
  margin-bottom: 52px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.create__return{
  align-items: center;

  display: flex;
}

.create__return p{
  color: var(--gray);
}

.create__box{
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.create-box__title{
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;

  color: var(--white);
}

.create-box__form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-form__btn {
  max-width: 514px;
  height: 56px;
  padding: 6px;
  border-radius: 6px;

  display: flex;

  background-color: rgba(44, 44, 44, 1);
}

.form-btn__product {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 251px;
  max-height: 44px;
  border-radius: 6px;

  background-color: rgba(75, 76, 78, 1);
}

.form-btn__product-non {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 251px;
  max-height: 44px;
  border-radius: 6px;

  background-color: rgba(44, 44, 44, 1);
  color: var(--gray);
}

.form-btn__service {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 251px;
  max-height: 44px;
  border-radius: 6px;

  background-color: rgba(44, 44, 44, 1);
  color: var(--gray);
}

.form-btn__service-active{
  display: flex;

  justify-content: center;
  align-items: center;

  width: 251px;
  max-height: 44px;
  border-radius: 6px;

  background-color: rgba(75, 76, 78, 1);
}

.create__form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create__name {
  padding-top: 18px;
  padding-left: 16px;

  max-width: 514px;
  height: 56px;
  border-radius: 6px;

  background-color: rgba(44, 44, 44, 1);
}

.create__desc {
  padding-top: 18px;
  padding-left: 16px;

  max-width: 514px;
  height: 164px;
  border-radius: 6px;

  background-color: rgba(44, 44, 44, 1);
}

.create__cost {
  position: relative;

  padding-top: 18px;
  padding-left: 16px;

  max-width: 514px;
  height: 56px;
  border-radius: 6px;

  background-color: rgba(44, 44, 44, 1);
}

.create__cost p{
  position: absolute;

  top: 30%;
  right: 5%;

  color: var(--gray);
}

.create-form__btn {
  max-width: 514px;
  height: 56px;
  border-radius: 6px;
  opacity: 50%;

  background-color: var(--main);
}

/* SERVICE */

input[type=range] {
  position: relative;
  top: 10px;
  outline: none;
  padding: 0;
  max-width: 474px;
  height: 2px;
  background-color: rgba(245, 149, 2, 1);
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  -webkit-appearance: none;
}


input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border: 4px solid rgba(245, 149, 2, 1);
  border-radius: 50%;
  -webkit-appearance: none;
}

#price{
  padding: 0 16px;
}

.time label{
  position: relative;
  justify-content: center;
  background-color: #2C2C2C;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 56px;
  color: #A5A5A5;
  font-family: "Roboto";
  font-size: 12px;
  padding: 0 16px;
  line-height: 15px;
  border-radius: 6px;
}

input{
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

input::placeholder{
  color: #fff;
}

/* GAME */

.game{
  margin-top: 48px;
  margin-bottom: 48px;
}

.game__inner {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.game-inner__main {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.game-inner__navigation {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.navigation__title {
  font-size: 58px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;

  color: var(--white);
}

.navigation__list {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.navigation-list__item-org {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;

  color: var(--main);
}

.navigation-list__item {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;

  color: var(--white);
}

.navigation__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-select{
  text-align: center;

  min-width: 82px;
  height: 36px;

  border-radius: 37px;
  border: 1px;
  border-style: solid;
  border-color: var(--gray);

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--white);
}

.game-option{
  background-color: var(--black);
  color: var(--white);
}

.game-label {
  position: relative;

  padding-top: 18px;
  padding-left: 22px;

  width: 339px;
  height: 53px;
  border-radius: 9px;

  background-color: rgba(34, 34, 34, 1);
}

.game-label input::placeholder{
  color: var(--gray);
}

.search-org{
  position: absolute;
  top: 33%;
  right: 5%;
}

.game-inner__information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inner-information__infoline {
  max-width: 1209px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infolines-items {
  display: flex;
  flex-direction: row;
  gap: 145px;
}

.infoline-item {
  color: var(--gray);
}

.infoline-filter {
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: row;
  gap: 6px;
}

.filters {
  display: flex;
  flex-direction: column;
}

.inner-information__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.information-box__values{
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.game-info__price {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info-price__actual {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

.game-info__name {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;

  color: var(--white);
}

.seller__information {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.seller__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.seller-info__name {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;

  color: var(--white);
}

.seller-info__state {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.state__rate {
  display: flex;
  flex-direction: row;
  gap: 15px;

  color: var(--white);
}

.state__year {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;

  color: var(--gray);
}

.button-game{
  display: flex;

  margin-top: 34px;
}

.button-game button{
  margin: auto;

  justify-content: center;
  align-items: center;

  width: 186px;
  height: 62px;
  border-radius: 12px;

  background-color: var(--main);
}

/* ACT-NON-DISPUTE */

.dispute{
  margin: auto;
  margin-top: 65px;
  margin-bottom: 188px;

  max-width: 1200px;
  height: 1102px;

}

.dispute__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.dispute-inner__title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;

  color: var(--white);
}

.dispute-inner__form {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.dispute-form__send {
  padding-top: 28px;
  padding-left: 28px;
  padding-right: 28px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  position: relative;

  max-width: 1200px;
  height: 267px;
  border-radius: 20px;

  background-color: rgba(28, 28, 29, 1);
}

.form-send__label {
  padding-top: 18px;
  padding-left: 26px;

  max-width: 1144px;
  height: 155px;

  border-radius: 18px;

  background-color: rgba(48, 48, 50, 1);
}

.form-send__label input::placeholder{
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: var(--gray);
}

.dispute-btn{
  position: absolute;
  top: 75%;
  right: 3%;

  min-width: 138px;
  height: 48px;
  border-radius: 12px;
}

.dispute-form__message {
  max-width: 1200px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.form-message__header {
  max-width: 1200px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  padding-top: 5px;
  padding-left: 28px;
  padding-right: 29px;

  align-items: center;
  justify-content: space-between;

  display: flex;
  flex-direction: row;
  gap: 8px;

  background-color: rgba(48, 48, 50, 1);
}

.message-header__account{
  max-width: 1200px;
  height: 60px;

  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: row;
  gap: 15px;

}

.message-header__account p{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}

.message-header__date {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: right;

  color: var(--gray);
}

.form-message__information {
  padding-top: 26px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 25px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  max-width: 1200px;
  height: max-content;

  background-color: rgba(28, 28, 29, 1);
}

.message-information__text {
  color: var(--white);
}

.dispute-form__info{
  text-align: center;

  max-width: 1200px;

  padding-top: 35px;
  padding-bottom: 35px;

  background-color: rgba(28, 28, 29, 1);

  border-radius: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;

  color: var(--white);
}

/* AGREEMENT */

.agreement{
  margin-top: 77px;
  margin-bottom: 93px;

  max-width: 864px;
}

.agreement_inner {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.agreement__first-point {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.first-point__title {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.point-title__number {
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;

  color: var(--main);
}

.point-title__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;

  color: var(--white);
}

.first-point__info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.point-info__points {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.point-title__point {
  font-size: 18px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;

  color: var(--main);
}

.point-title__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;

  color: var(--white);
}

.agreement__second-point {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.second-point__title {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.second-point__info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* ARTICLE */

.article{
  margin-top: 83px;
  margin-bottom: 81.98px;

  max-width: 840px;
}

.article__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.article__title {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.article-title__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;

  color: var(--white);
}

.article-title__content {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.title-content__type {
  align-items: center;

  display: flex;
  flex-direction: row;
  gap: 33px;
}

.content-type__value {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.content-type__value div{
  display: flex;

  justify-content: center;
  align-items: center;

  width: 144px;
  height: 45px;
  border-radius: 10px;

  color: var(--white);
  background-color: rgba(28, 28, 28, 1);
}

.content-type__data {
  font-size: 16px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;

  color: rgba(212, 212, 212, 1);
}

.title-content__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.content-text__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;

  color: var(--white);
}

.content-text__info {
  display: flex;
  flex-direction: column;
  gap: 28px;

  color: var(--white);
}

.content-text__info div{
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;

  color: var(--white);
}

.article__img{
  max-width: 833px;
  max-height: 469px;

  position: relative;
}

.article-img__subtext{
  padding: 9px 9px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 28px;

  position: absolute;

  top: 86%;
  left: 3%;

  background-color: rgba(0, 0, 0, 0.59);
  color: var(--white);
}

.article__do {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.article-do__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;

  color: var(--white);
}

.article-do__points {
  margin-left: -23px;

  display: flex;
  flex-direction: column;
  gap: 20px;

}

.do-points__text{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.do-points__text p{
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;

  color: var(--white);
}

.circle {
  margin-top: 10px;

  width: 8px;
  height: 8px;
  border-radius: 4px;

  background-color: var(--main);
}

.article__news{
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;

  color: var(--white);
}

.article__news span{
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;

  color: var(--main);
}

.article__video {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__button-video {
  width: 60px;
  height: 60px;

  position: absolute;

  top: 48%;
  left: 48%;

  background-image: url(./../image/image/button-video.svg);
}

.article-video__slider {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.video-slider__img {
  max-width: 197px;
  max-height: 106px;
}

.article__other {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.other__title {
  font-size: 38px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0em;

  color: var(--white);
}

.other__block {
  display: flex;
  flex-direction: row;
  gap: 43px;
}

.other-block__box {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.other-block__text {
  display: flex;
  flex-direction: column;
}

.other-text__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;

  color: var(--white);
}

.other-text__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;

  color: var(--gray);
}

.profile-comments{
  height: 42px;
}

.article__comments {
  max-width: 683px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.article-comments__title{
  align-items: center;

  display: flex;
  flex-direction: row;
  gap: 15px;
}

.article-comments__title p{
  font-size: 32px;
  font-weight: 900;
  line-height: 41px;
  letter-spacing: 0em;

  color: var(--white);
}

.article-comments__title button{
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;

  color: var(--main);
}

.article-comments__box {
  display: flex;
  flex-direction: column;
  gap: 28.2px;
}

.comments-box__profile {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.article-box__comment {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}

.box-comment__title {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}

.comment-title__name-profile {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;

  color: var(--white);
}

.comment-title__rate {
  align-items: center;

  display: flex;
  flex-direction: row;
  gap: 8px;
}

.title-rate__stars {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.title-rate__date {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;

  color: var(--gray);
}

.box-comment__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;

  color: var(--white);
}

.comments-box__button{
  margin-top: 25px;

  display: flex;

  justify-content: center;
}

.button-comment__more{
  width: 158.95px;
  height: 53.84px;
  border-radius: 5.98px;

  background-color: rgba(245, 149, 2, 0.14);
  color: var(--main);
}

/* OPEN-DISPUTE */

.wrapper-dispute{
  position: relative;
  width: 100%;
  height: 100vh;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.open-popup a{
  display: inline-block;
  background-color: black;
  padding: 15px 30px;
  color: #2C2C2C;
  text-decoration: none;
}

#popup{
  position: fixed;
  flex-direction: column;
  column-gap: 18px;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

#popup:target {
  opacity: 1;
  visibility: visible;
}

.popup-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 47px;
  position: relative;
  background-color:black;
  width: 608px;
  height: 363px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#popup:target .popup-inner{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.btn-popup{
  font-family: "Rubik";
  font-size: 37px;

  display: flex;
  gap: 13px;
}

.popup-items{
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.authorize{
  display: flex;
  align-items: left;

  color: #fff;
  text-decoration: none;
  font-size: 37px;
}

.sign-in-active{
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.sign-in{
  text-decoration: none;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
}

.sign-up{
  text-decoration: none;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
}

.sign-up-active{
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

a:visited{
  color: #fff;
}

a.close-popup{
  display: flex;
  position: absolute;
  text-align: center;
  line-height: 40px;

  top: -3%;
  right: -3%;

  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.main-form{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.open-dispute{
  padding-top: 11px;
  padding-left: 16px;
  width: 438px;
  height: 118px;
  border-radius: 6px;
  color: var(--white);
  background-color: rgba(44, 44, 44, 1);
}

.open-dispute div{
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: rgba(165, 165, 165, 1);
}

textarea.open-popup-disp{
  width: 398px;
  height: 70px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
}

#comm{
  width: 490px;
  height: 132px;
  padding:5px 10px;
  border-radius: 6px;
  border: 1px solid #000;
}

.button-box{
  width: 263px;
}

.btn-authorize{
  text-align: center;
  margin-right: 21px;

  width: 112px;
  height: 48px;
  padding: 14px 33px 14px 33px;
  border-radius: 6px;

  background-color: rgba(245, 149, 2, 1);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.title-popup{
  color: #fff;
  font-family: Rubik;
  font-size: 37px;
  font-weight: 400;
  line-height: 45px;
}

/* CHAT */

.chat {
  margin-top: 80px;
  margin-bottom: 80px;
}

.chat__inner {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.chat-inner__chat {
  gap: 76px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inner-chat__text {
  max-width: 660px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.chat-text__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 41.6px;

  color: var(--white);
}

.chat-text__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.chat-text__text p{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.6px;

  color: var(--gray);
}

.chat-text__text p span{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.6px;

  color: var(--main);
}

.chat-text__pay {
  display: flex;
  flex-direction: row;
  gap: 15px;

  padding: 24px 32px;

  justify-content: space-between;
  align-items: center;

  border-radius: 20px;

  background-color: #1C1C1D;
}

.text-pay__summ {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.688%;

  color: var(--white);
}

.text-pay__select {
  padding: 24px 32px;

  border-radius: 20px;

  align-items: center;

  display: flex;
  flex-direction: row;
  gap: 12px;
}

.text-pay__select select{
  height: min-content;

  border-radius: 12px;

  padding: 12px 12px 12px 16px;

  background-color: rgba(48, 48, 50, 1);
  color: var(--gray);
}

.text-pay__select select option{
  color: var(--gray);
}

.chat-btn {

}

.inner-chat__chat-block {
  display: flex;
  flex-direction: column;

  width: 680px;

  padding: 24px 32px;

  border-radius: 20px;

  background-color: #1C1C1D;;
}

.chat-block__header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.chat-block__main {
  margin: 0 auto;
}

.chat-main__block {
  margin: 141px 0px;

  width: 167px;
  height: 156px;

  align-items: center;
  justify-content: center;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chat-main__block img{
  width: 48px;
  height: 48px;
}

.chat-block__input {

}

.chat-input__label {
  display: flex;

  height: 56px;

  padding: 10px 20px;

  justify-content: space-between;
  align-items: center;

  border-radius: 15px;
  background-color: #2E2E34;
}

.chat-input__label input{
  max-width: 548px;
}

.chat-input__label input::placeholder{
  color: var(--gray);
}

.input-label__btns{
  display: flex;
  flex-direction: row;
  gap: 21px;
}

.chat-inner__reviews {
  max-width: 660px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inner__reviews-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40.22px;

  color: var(--white);
}

.inner-reviews__state {
  display: flex;
  flex-direction: row;
  gap: 15px;

  padding: 20px 32px 20px 40px;

  justify-content: space-between;
  align-items: center;

  border-radius: 20px;
  background: #1C1C1D;
}

.reviews-state__rate {
  display: flex;
  flex-direction: column;
}

.state-rate__title{
  font-size: 88px;
  font-style: normal;
  font-weight: 500;
  line-height: 88px;

  color: var(--white);
}

.state-rate__subtitle{
  color: rgba(255, 255, 255, 0.60);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.reviews-state__statistic {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.statistic__lines {
  align-items: center;

  display: flex;
  flex-direction: row;
  gap: 20px;
}

.statistic-lines__stars p{
  width: 72px;

  text-align: right;
}

.statistic-lines__box {
  width: 124px;
  height: 4px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.20);
}

.lines-box__item {
  width: 94px;
  height: 4px;
  border-radius: 20px;
  background-color: var(--main);
}

.statistic-lines__amount {
  color: var(--white);
}

.inner-reviews__comments {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* About */

.about{
  position: relative;

  margin-top: 16px;
  margin-bottom: 108px;
}

.about__inner{
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 977px;

  margin: 0 auto;
}

.about-inner__title {
  font-size: 38px;
  font-style: normal;
  font-weight: 900;
  line-height: 47.761px;

  color: var(--white);
}

.about-inner__first {
  display: flex;
  flex-direction: column;
  gap: 170px;
}

.about-inner__information-block {
  position: relative;
}

.about-information__text {
  max-width: 350px;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.left {
  position: absolute;

  top: 70%;
  left: -7%;
}

.right {
  position: absolute;

  top: 64%;
  right: -3%;
}

.left-text{
  text-align: left;
}

.right-text{
  text-align: right;
}

.about-information__title {
  font-size: 65.073px;
  font-style: normal;
  font-weight: 700;
  line-height: 64.87px;

  color: var(--white);
}

.about__first-img{
  margin-top: -70px;
}

.about-information__subtitle {
  font-size: 27.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40.23px;

  color: var(--white);
}

.about__second-mask {
  position: absolute;
  top: -24%;
  left: -31%;
}

.about-inner__second {
  display: flex;
  flex-direction: column;
  gap: 300px;
}

.about__fouth-mask {
  position: absolute;
  top: -49%;
  left: -29%;
}

.about-information__form {
  position: absolute;
  top: -33%;
  right: -1%;

  max-width: 320px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-form__title {
  font-size: 65px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;

  color: var(--white);
}

.about-form__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about__label-mail {
  max-width: 304.2px;
  height: 55.8px;
  padding: 18px;
  border-radius: 10.8px;

  background-color: rgba(193, 193, 193, 0.22);
}

.about__label-mail input::placeholder{
  color: var(--gray);
}

.about__label-message {
  max-width: 304.2px;
  height: 149px;
  padding: 18px;
  border-radius: 10.8px;

  background-color: rgba(193, 193, 193, 0.22);
}

.about__label-message textarea{
  max-width: 268.2px;
  height: 113px;
}


.btn {

}

.about-btn {

}

/* FOOTER */

.footer {
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 32px;
  padding-right: 34px;

  max-width: 1440px;
  height: 345.37px;

  border-radius: 36px;

  background-color: rgba(1, 1 , 1);
}

.footer__inner {
  max-width: 1374px;
  display: flex;
  flex-direction: row;
  gap: 63px;
}

.footer-items__box {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.items-box__links{
  display: flex;
  flex-direction: row;
  gap: 86px;
}

.items-box__link{
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.box-links__item {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}

.high {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.part{
  width: 140px;
}

.org{
  color: var(--main);
}

.color{
  color: rgba(56, 76, 255, 1);
}

.box-links__payment {
  display: flex;
  flex-direction: column;
  gap: 13.19px;
}

.links-payment__img {
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.box-links__copy{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;

  color: var(--gray);
}

.items-box__btns {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.btn-sign {
  display: flex;
  flex-direction: row;
  gap: 2px;
  color: var(--white);
}

.footer-currency__items{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.footer-currency__items p{
  color: var(--gray);
}

.footer-currency__items span{
  color: var(--white);
}

.footer__search {
  display: flex;
  flex-direction: column;
  gap: 5;
}

.footer-search__input {
  width: 194px;
}

.footer-items__social {
  height: 23.4px;

  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer-social-media-min{
  display: none;
}

/* NAVIGATION */

.nav-burger{
  display: none;
}

#burger, [for=burger]{
  display: none;
}

/* FOOTER.MID */

.mid{
  padding-top: 72px;
  padding-bottom: 82px;
  padding-left: 28px;
  padding-right: 28px;

  max-width: 768px;
  height: max-content;

  justify-content: center;
  align-items: center;

  display: none;

  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.42);
}

.mid__inner{
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.nav__logo-footer{
  min-width: 138px;
  height: 58px;
}

.mid-inner__links{
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.links__nav{
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.links__soc{
  margin-top: 78px;

  display: flex;
  flex-direction: column;
  gap: 19px;
}

.inner__btns{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* FOOTER.MIN */

.min{
  max-width: 328px;
  height: max-content;

  justify-content: center;
  align-items: center;

  display: none;

  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.42);
}

.min__inner{
  margin: auto;
}

.links-items:first-child{
  max-width: 136px;
}

.min-inner__links{
  display: flex;
  flex-direction: row;
  gap: 56px;
}

.links__items-nav{
  max-width: 148px;

  display: flex;
  flex-direction: column;
  gap: 19px;
}

.links__items-soc{
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.inner-min__box{
  display: flex;
  flex-direction: column;
  gap: 19px;
}
