@media (min-width:1024px) and (max-width: 1410px){
	.container{
		width: 100%;
		box-sizing: border-box;
		padding: 0 2.5%;
	}
	header .logo-header{
		position: static;
	}
	.title-news-abs{
		font-size: 2vw;
		margin-top: 2%;
	}
	.category-news-abs{
		font-size: 1.2vw;
	}
	.new6-abs .flex-tree-news .item .name{
		font-size: 0.9vw;
	}
	.new6-abs .flex-tree-news .item .category{
		font-size: 0.9vw;
		margin-top: 0.5vw;
	}
	.news7-abs .desc-block .name{
		font-size: 0.9vw;
	}
	.news7-abs .desc-block .link{
		font-size: 0.9vw;
		margin-top: 1vw;
	}
	.new6-abs .flex-tree-news .item{
		margin-top: 1vw;
	}
	.new6-abs .flex-tree-news .item .desc-block{
		margin: 0 1vw;
	}
	.news7-abs .button-watch{
		height: 4vw;
		width: 4vw;
	}
	.news7-abs .button-watch svg {
		margin-left: 2px;
		width: 1vw;
		height: auto;
	}
	.news7-abs .desc-block svg {
		margin-left: 0.3vw;
		width: 0.6vw;
		height: auto;
	}
	.news7-abs .desc-block { margin-left: 1vw ; margin-right: 1vw ; flex: 1; }
	.new3-abs .ios{
		width: 1.5vw;
	}
	.new3-abs .android{
		width: 1.5vw;
	}
	.news-abs-container-2{
		margin-top: 3vw;
	}
	.new8-abs .flex-tree-news .item .desc-block .name{
		font-size: 0.9vw;
	}
	.new8-abs .flex-tree-news .item .desc-block .category{
		font-size: 0.9vw;
		margin-top: 0.5vw;
	}
	.new8-abs .flex-tree-news .item .img{
		border-radius: 1.2vw;
	}
	.new8-abs .flex-tree-news .item{
		margin-top: 1vw;
	}
	.new8-abs .flex-tree-news .item:first-child{
		margin-top: 0;
	}
	.new9-abs .button-abs-news{
		padding: 1vw 3vw;
		font-size: 1vw;
		margin-top: 2vw;
	}
	.new13-abs .item{
		font-size: 1vw;
	}
	.grid-full-news .item .name-new{
		font-size: 1vw;
		margin-top: 1vw;
	}
	.grid-full-news .item .category{
		margin-top: 0.5vw;
		font-size: 1vw;
	}
	.news-row-one .item{
		font-size: 1vw;
	}
	.title-one-new{
		font-size: 3vw;
	}
	.container-category-new .item{

		padding: 1vw 2vw;

		font-size: 1vw;

		margin-right: 1vw;

	}
	.flex-category-new .date-publish-new{

		font-size: 1vw;

	}
	.content-one-new{

		font-size: 1.2vw;

		margin-top: 2vw;
	}
	.other-news-block .other-title{

		font-size: 3.1vw;

	}
	.grid-other-news .item .name{

		font-size: 1.2vw;

		margin-top: 1vw;

	}
	.grid-other-news .item .category{

		font-size: 1.2vw;

	}
	.title-comments{

		font-size: 3vw;

	}
	.add-comment-button{

		font-size: 1.4vw;

		margin-left: 2vw;

	}
	.comments-container .item .img-comment{

		width: 4vw;

		height: 4vw;

	}
	.name-comment{

		font-size: 1.1vw;

	}
	.date-comment{

		font-size: 1.1vw;

		margin-left: 1.5vw;

	}
	.container-content-comment{

		font-size: 1vw;

		padding-bottom: 2vw;

	}
	.content-comment{

		margin-left: 1.3vw;

	}
	.comments-container .item{

		margin-top: 2vw;

	}
	.show-more-button-comment{

		font-size: 1.2vw;

		padding: 1vw 3vw;

		margin-top: 6vw;

	}
	.right-one-new{
		display: none;
	}
	.flex-category-new{
		margin-top: 2vw;
	}
	.content-one-new img{
		margin-top: 2vw;
	}
	.content-one-new ul li{
		margin-top: 0.5vw;
		padding-left: 1.3vw;
	}
	.content-one-new ul{
		margin-top: 1.3vw;
	}
	body{
		font-size: 1vw;
	}
	.content-one-new ul li::before{
		width: 0.5vw;
		height: 0.5vw;
		top: 0.5vw;
	}
	.img-logo{

	}
	nav ul li{
		margin-left: 20px;
	}
	.find input{
		width: 110px;
		font-size: 1.3vw;
	}
	.container-banner .left-banner .banner-text{
		font-size: 5vw;
	}
	.right-container-slider .banner-text{
		font-size: 5vw;
	}
	.right-container-slider .banner-price .low-price{
		font-size: 3vw;
	}
	.right-container-slider .banner-price .normal-price{
		font-size: 3vw;
	}
	.right-container-slider .banner-price .low-price span{
		font-size: 1vw;
	}
	.name-luck-block{
		font-size:3vw;
	}
	.luck-flex-main .item .bottom-price .item-true{
		font-size:26px;
	}
	.luck-flex-main .item .bottom-price .no-item{
		font-size:19px;
		margin-right: 5%;
	}
	.luck-flex-main .item .left-price .item-price{
		font-size: 16px;
		margin-top: 3%;
	}
	.grid-catalog .image-item .price-item .low-price{
		font-size: 1.5vw;
	}
	.grid-catalog .image-item .price-item .normal-price{
		font-size: 1.3vw;
	}
	.fist-line-catalog-item .name-game{
		font-size: 1.5vw;
	}
	.fist-line-catalog-item .platforms img{
		height: 18px;
		margin-left: 5px;
	}
	.catalog-category .item-category{
		font-size: 12px;
		padding: 6px 9px;
	}
	.abs-last-1 .content-last .title-last{
		font-size: 4vw;
	}
	.abs-last-1 .content-last .desc-last{
		font-size: 1.5vw;
	}
	.abs-last-1 .content-last .button-last{
		font-size: 1.3vw;
		padding:1.5vw 3vw;
	}
	.abs-last-2 .content-last .title-last{
		font-size: 4vw;
	}
	.abs-last-2 .content-last .desc-last{
		font-size: 1.5vw;
		left: 22%;
	}
	.abs-last-2 .content-last .form-subscribe input{
		width: 25vw;
		height: 4vw;
		font-size: 1.1vw;
		border-radius:1vw;
	}
	.abs-last-2 .content-last .form-subscribe{
		bottom: 10%;
		left: 22%;
	}
	.abs-last-2 .content-last .form-subscribe button{
		height: 4vw;
		width: auto;
		padding: 1vw 2vw;
		font-size: 1.1vw;
		margin-left: 1vw;
		border-radius:0.5vw;
	}
	.abs-last-3 .content-last .title-last{
		font-size: 4.5vw;
	}
	.abs-last-3 .content-last .form-qeustions button{
		padding: 1vw 2vw;
		font-size: 1.1vw;
		border-radius:0.5vw;
		margin-right: 1.5vw;
	}
	.abs-last-3 .content-last .form-qeustions textarea{
		width: 25vw;
		height: 13vw;
		font-size: 1.1vw;
		padding:1vw;
		border-radius:0.5vw;
	}
	.abs-last-3 .content-last .form-qeustions input{
		width: 25vw;
		height: 3vw;
		font-size: 1.1vw;
		border-radius:0.5vw;
		padding: 0 1vw;
	}
	.nav-footer a{
		font-size: 1.1vw;
	}
	.logo-header .name-logo{
		font-size: 1.3vw;
		line-height: 1.2;
		margin-left: 1vw;
	}
	.langs{
		font-size: 1.3vw;
	}
	.pay-footer-items img {
		height: 1.6vw;
		margin-right: 1vw;
		margin-top: 1vw;
	}
	.soc-footer img{
		height: 1.8vw;
	}
	.soc-footer a{
		margin-left: 1vw;
	}
	.find_footer{
		font-size: 1.2vw;
	}
	.footer-years{
		font-size: 1.2vw;
	}
	footer{
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	nav ul li a{
		font-size: 1.1vw;
	}
	.currency .item{
		font-size: 1.3vw;
	}
	.auth-block{
		font-size: 1.3vw;
	}
	.header-container{
		padding: 0 2.5%;
		position: relative;
	}
	.logo-header{
		position: static;
		left: 0;
		top: 0;
	}
	.abs-container-catalog .abs-catalog1 .text-container .title-text{
		font-size: 5vw;
	}
	.abs-container-catalog .abs-catalog1 .text-content .desc-text{
		font-size: 1.7vw;
	}
	.abs-container-catalog .abs-catalog1 .text-content .link{
		padding: 1vw 2vw;
		font-size: 1.4vw;
	}
	.abs-container-catalog .text-content .name-game{
		font-size: 2.5vw;
	}
	.abs-container-catalog .text-content .price .low{
		font-size: 2vw;
	}
	.abs-container-catalog .text-content .price .normal{
		font-size: 2vw;
	}
	.abs-catalog4 .text-content .name-game span{
		font-size: 1.5vw;
	}
	.title-big-item{
		font-size: 2.5vw;
	}
	.abs-ref1 .title{
		font-size: 2.7vw;
	}
	.abs-ref1 .description{
		font-size: 1.5vw;
		margin-top: 1vw;
	}
	.soc-icons-referal{
		margin-top: 4.5vw;
	}
	.abs-ref1 form{
		margin-top: 2vw;
	}
	.abs-ref1 .text-content{
		margin-bottom: 0;
		margin-top: 5%;
		bottom: auto;
		top: 0;
	}
	.abs-ref1 form input{

		width: 33vw;

		font-size: 1.3vw;

		height: 4vw;

	}
	.abs-ref1 form button{

		height: 4vw;

		margin-left: 2vw;

		width: 11.7vw;

		padding: 0;
	}
	.abs-ref2 .title{
		font-size: 2.7vw;
	}
	.abs-ref2 .text-content{
		width: 35%;
	}
	.abs-ref3 .text-content img{

		height: 4vw;

	}
	.abs-ref3 .text-content .title{
		font-size: 2.7vw;
		margin-top: 1vw;
	}
	.name-game-card{
		font-size: 4vw;
	}
	.price-game-card{
		margin-top: 2vw;
	}
	.buttons-flex-card{
		margin-top: 0;
	}
	.dop-list-game{
		margin-top: 1vw;
	}
	.dop-list-game .item{
		margin-top: 1vw;
	}
	.card-marg{
		margin-top: 1vw;
	}
}


























@media (max-width:1024px){
	.container{
		padding: 0 4%;
		max-width:100%;
		box-sizing: border-box;
	}
	.header-container{
		padding: 0 4%;
		justify-content: flex-start;
		max-width:100%;
	}
	.footer-container{
		padding: 0 20px;
	}
	header{
		padding-top: 10px;
		padding-bottom: 20px;
		z-index: 5;
	}
	.pc-fade{
		display: none !important;
	}
	.img-logo{
		width: 48px;
	}
	.logo-header .name-logo{
		font-size: 18px;
		margin-left: 10px;
	}
	.mob-fade{
		display: block;
	}
	.mob_fade{
		display: block !important;
	}
	.mob-button-auth{
		font-size: 14px;
		padding: 7px 12px;
		border-radius:5px;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		background: #F59502;
		margin-left: auto;
	}
	.mob-nav-burger{
		width: 24px;
		margin-right: 15px;
	}
	.mob-nav-burger div{
		height: 2px;
		background: #A0A0A0;
		margin-top: 6px;
	}
	.mob-nav-burger div:first-child{
		margin-top: 0;
	}
	.right-banner{
		width: 100%;
		padding: 0;
		height: auto;
		position: relative;
	}
	.right-container-slider svg{
		position: relative;
	}
	.right-container-slider .banner-text{
		font-size: 7vw;
		top: 0;
		margin-top: 5%;
		left: 10%;
		font-weight: 900;
	}
	.right-container-slider{
		width: 100vw;
		position: relative;
		padding: 0;
		height: auto;
	}
	.container-banner{
		padding: 0;
	}
	.right-container-slider .banner-price{
		top: 0;
		left: 10%;
		margin-top: 26%;
	}
	.right-container-slider .banner-price .low-price{

		font-size: 22px;
	}
	.right-container-slider .banner-price .normal-price{
		font-size: 18px;
	}
	.right-container-slider .banner-price .low-price span{
		font-size: 3.3vw;
		padding: 2vw 3vw;
	}
	.right-dots-mobile{
		display: flex !important;
		justify-content: center;
		margin-top: 10px;
	}
	.right-dots-mobile li{
		list-style-type: none;
		background: rgba(255, 255, 255, 0.1);
		width: 9px;
		height: 9px;
		margin-left: 7px;
		border-radius:50%;
	}
	.right-dots-mobile li:first-child{
		margin: 0;
	}
	.right-dots-mobile li.active{
		background: rgba(255, 255, 255, 0.6);
	}
	.lick-title-main{
		font-size: 24px;
	}
	.luck-flex-main{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.luck-flex-main .item{
		width: 95%;
		margin-top: 18vw;
	}
	.luck-flex-main .item:first-child{
		margin-top: 0;
	}
	.title-catalog-main{
		font-size: 24px;
	}
	.first-line-catalog-main a{
		margin-left: auto;
		font-size: 16px;
	}
	.grid-catalog .item{
		width: 100%;
	}
	.grid-catalog .container-item{
		display: flex;
		flex-direction: column;
	}
	.grid-catalog .container-item .item{
		width: 100%;
	}
	.grid-catalog .image-item .price-item .low-price{
		font-size: 20px;
	}
	.grid-catalog .image-item .price-item .normal-price{
		font-size: 20px;
	}
	.grid-catalog .image-item .price-item{
		right: 4%;
	}
	.fist-line-catalog-item .name-game{
		font-size: 29px;
		width: 100%;
	}
	.fist-line-catalog-item .platforms{
		display: block;
		position: absolute;
		top: 2%;
		right: 2%;
		opacity: 0.9;
	}
	.catalog-category .item-category{
		font-size: 16px;
	}
	.news-main .new4-abs{
		position: relative;
		width: 100%;
		padding: 0;
		margin-top: 0;
		overflow: hidden;
		border-radius: 17px;
	}
	.news-main .new4-abs svg{
		position: relative;
		border-radius: 17px;
		overflow: hidden;
	}
	.news-main .new6-abs{
		position: relative;
		width: 100%;
		margin: 0;
		margin-top: 0;
	}
	.news-abs-container{
		padding: 0;
		margin-top: 0;
	}
	.title-news-abs{
		font-size: 6.5vw;
	}
	.category-news-abs{
		font-size: 3vw;
	}
	.new6-abs .flex-tree-news .item .name{
		font-size: 14px;
	}
	.new6-abs .flex-tree-news .item .category{
		font-size: 14px;
	}
	.new6-abs .flex-tree-news .item .desc-block{
		margin-left: 15px;
	}
	.new6-abs .flex-tree-news .item{
		margin-top: 20px;
	}
	.last-sect-main{
		padding-top: 50px;
	}
	.abs-last-1{
		position: relative;
		width: 100%;
		padding: 0;
		padding-top: 61%;
	}
	.abs-last-2{
		position: relative;
		width: 100%;
		padding: 0;
		margin-top: 30px;
		padding-top: 62%;
	}
	.abs-last-3{
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0;
		margin-top: 30px;
		padding-top: 98%;
	}
	.container-last-sect-main{
		padding: 0;
	}
	.last-sect-main svg{
		position: relative;
	}
	.pc_fade{
		display: none;
	}
	.abs-last-1 .content-last .title-last{
		font-size: 4.7vw;
		width: 50%;
		font-weight: 700;
	}
	.abs-last-1 .content-last .desc-last{
		font-size: 2.7vw;
		width: 60%;
		margin-top: 4vw;
		font-weight: 300;
	}
	.abs-last-1 .content-last .button-last{
		font-size: 3.2vw;
		border-radius: 2vw;
		padding: 3.2vw 4.7vw;
		margin-top: 6vw;
	}
	.abs-last-1 .bg-img-last{
		width: 100%;
		padding-top: 60%;
		border-radius: 16px;
	}
	.abs-last-2 .bg-img-last{
		width: 100%;
		padding-top: 60%;
		border-radius: 16px;
	}
	.abs-last-3 .bg-img-last{
		width: 100%;
		padding-top: 80%;
		border-radius: 16px;
	}
	.abs-last-2 .content-last .title-last{
		font-size: 4.7vw;
		width: 71%;
		position: static;
		font-weight: 700;
	}
	.abs-last-2 .content-last .desc-last{
		font-size: 3.5vw;
		left: 5%;
		width: 60%;
		position: static;
		padding: 0;
		margin-top: 3vw;
		font-weight: 300;
	}
	.abs-last-2 .content-last{
		padding-top: 5%;
		left: 5%;
		width: 92%;
		position: absolute;
	}
	.abs-last-2 .content-last .form-subscribe{
		position: static;
		margin-top: 13%;
		width: 100%;
	}
	.abs-last-2 .content-last .form-subscribe input{
		width: 45vw;
		height: 10vw;
		padding: 3vw;
		font-size: 4vw;
		box-sizing: border-box;
		border-radius: 2vw;
	}
	.abs-last-2 .content-last .form-subscribe button{
		width: 31.6vw;
		height: 10vw;
		font-size: 3.8vw;
		border-radius: 2vw;
		overflow: hidden;
		margin-left: 4vw;
		font-weight: 700;
	}
	.abs-last-3 .content-last .title-last{
		position: static;
		font-size: 4.7vw;
		width: 85%;
		font-weight: 700;
	}
	.abs-last-3 .content-last .form-qeustions{
		position: static;
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	.abs-last-3 .content-last{
		left: 5%;
		top:0;
		margin-top: 8%;
		width: 90%;
	}
	.abs-last-3 .content-last .form-qeustions button{
		font-size: 3.8vw;
		background: #F55902;
		border-radius: 2vw;
		box-sizing: border-box;
		width: 28vw;
		text-align: center;
		padding: 0;
		margin-left: auto;
		margin-right: 0;
		font-weight: 700;
	}
	.abs-last-3 .content-last .form-qeustions .b1{
		width: 100%;
		flex-direction: row;
		margin-top: 1vw;
	}
	.abs-last-3 .content-last .form-qeustions input{
		width: 49vw;
		height: 10vw;
		font-size: 4vw;
		text-indent: 2vw;
		border-radius: 2vw;
		text-indent: 0;
		padding: 2vw;
	}
	.abs-last-3 .content-last .form-qeustions textarea{
		width: 100%;
		font-size: 4vw;
		padding: 2vw;
		height: 31vw;
		border-radius: 3vw;
		margin-top: 7vw;
	}
	.new6-abs .flex-tree-news{
		margin-top: 25px;
	}
	.footer-container{
		display: flex;
		padding-top: 60px;
		flex-direction: column;
	}
	.col-footer{
		width: 100%;
		margin-top: 20px;
		align-items: center;
	}
	.nav-footer a{
		font-size: 16px;
		text-align: center;
		width: 100%;
		display: block;
		text-align: left;
	}
	.nav-footer li{
		width: 100%;
		max-width: 100%;
	}
	.nav-footer{
		width: 100%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
	.nav-footer li:first-child{
		display: flex;
		justify-content: center;
	}
	footer{
		margin-top: 0px;
		border-radius: 0;
		padding-bottom: 40px;
		background: none;
	}
	.pay-footer-items img {
		height: 5.7vw;
		margin-right: 10px;
		margin-top: 15px;
	}
	.nav-footer li{
		display: flex;
		justify-content: flex-start;
	}
	.footer-years{
		font-size: 5vw;
	}
	.langs{
		font-size: 20px;
	}
	.currency .item{
		font-size: 20px;
	}
	.find_footer{
		font-size: 16px;
		width: 50vw;
	}
	.soc-footer{
		max-width:100%;
		justify-content: center;
	}
	.soc-footer a {
		margin-left: 20px;
	}
	.soc-footer a:first-child{
		margin: 0;
	}
	.new6-abs .flex-tree-news{
		margin-top: 20px;
	}
	.mobile-nav{
		position: absolute;
		left: 0;
		top: 55px;
		padding: 0 15px;
		background: #161616;
		width: 100%;
		z-index: 55;
		box-sizing: border-box;
	}
	.mobile-nav nav ul{
		flex-direction: column;
	}
	.mobile-nav nav ul li a{
		font-size: 16px;
	}
	.mobile-nav{
		background: #161616;
		padding: 0 16px;
		width: 100%;
		box-sizing:border-box;
		padding-top: 10px;
		padding-bottom: 50px;
		display: none;
	}
	.find{
		width: 100%;
		background: #000000;
		border-radius: 9px;
		height: 43px;
	}
	.find svg{
		width: 16px;
		margin-left: 14px;
	}
	.find input{
		flex: 1;
		margin-right: 5px;
		font-size: 16px;
	}
	.flex-mobile-nav{
		margin-top: 15px;
		display: flex;
		justify-content: space-between;
	}
	nav ul li{
		margin-left: 0;
		margin-top: 23px;
	}
	nav ul li:first-child{
		margin-top: 0;
	}
	.flex-mobile-nav .langs{
		margin-top: 20px;
	}
	.mob-nav-burger.active div:first-child{
		transform: rotate(-45deg);
	}
	.mob-nav-burger.active div:last-child{
		transform: rotate(45deg);
		margin-top: -2px;
	}
	.top-banner-catalog{
		display: none;
	}
	.grid-categories{
		display: none;
	}
	.first-line-catalog{
		flex-direction: column;
	}
	.find-game-catalog{
		order: 1;
		width: 100%;
	}
	.first-line-catalog .left-flex{
		order: 2;
	}
	.find-game-catalog input{
		width: 100%;
		box-sizing:border-box;
	}
	.first-line-catalog .left-flex{
		margin-top: 20px;
		width: 100%;
		overflow: auto;
	}
	.costom-select .name-select{
		white-space: nowrap;
	}
	.category-sect{
		padding-top: 20px;
	}
	.title-catalog{
		font-size: 32px;
	}
	.grid-catalog .item.big{
		display: none;
	}
	.luck-flex-main .item .left-price .item-price{
		font-weight: bold;
		margin-top: 10%;
		font-size: 3.5vw;
	}
	.luck-flex-main .item .left-price{
		padding-top: 65%;
		left: 2%;
	}
	.name-luck-block{
		font-size: 14vw;
		top: 50%;
	}
	.abs-last-1 .content-last{
		left: 5%;
		top: 5%;
	}
	.right-container-slider .item .img-mob{
		width: 100%;
		padding-top: 47%;
		border-radius: 0;
	}
	.footer-container .left-col{
		width: 45%;
		flex: 1;
	}
	.footer-container .right-col{
		width: 35%;
		margin-top: 0;
	}
	.footer-container .left-col .col-footer:nth-child(1){
		position: relative;
	}
	.right-col .nav-footer a{
		text-align: left;
	}
	.soc-footer{
		display: grid;
		grid-template-columns: 30% 30% 30%;
		justify-content: space-between;
		grid-row-gap: 15px;
		width: 100%;
		margin-left: auto;
	}
	.soc-footer a{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
	}
	.soc-footer img{
		margin: 0;
		height: 5.7vw;
	}
	header .logo-header{
		position: static;
	}
	.new4-abs .img-mob{

		width: 100%;

		padding-top: 90%;
	}
	.abs-last-3 .content-last .form-qeustions.mob-fade{
		display: block;
	}
	.left-one-new{
		width: 100%;
	}
	.title-one-new{
		font-size: 25px;
	}
	.container-category-new .item{
		font-size: 14px;
		padding: 6px 10px;
		border-radius:8px;
		margin-right: 10px;
	}
	.flex-category-new{
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.flex-category-new .date-publish-new{
		margin: 0;
		margin-top: 10px;
		font-size: 14px;
	}
	.content-one-new{
		font-size: 14px;
	}
	.content-one-new img{
		margin-top: 15px;
	}
	.content-one-new ul li::before{
		width: 4px;
		height: 4px;
		top: 7px;
	}
	.content-one-new ul li{
		margin-top: 5px;
		padding-left: 10px;
	}
	.content-one-new ul{
		margin-top: 15px;
	}
	.other-news-block .other-title{
		font-size: 25px;
	}
	.grid-other-news{
		grid-template-columns: 48% 48%;
	}
	.grid-other-news .item{
		display: none;
	}
	.grid-other-news .item:nth-child(1),.grid-other-news .item:nth-child(2){
		display: block;
	}
	.grid-other-news .item .preview{
		border-radius:13px;
	}
	.grid-other-news .item .name{
		font-size: 14px;
		margin-top: 10px;
	}
	.grid-other-news .item .category{
		font-size: 14px;
		margin-top: 5px;
	}
	.title-comments{
		font-size: 25px;
	}
	.add-comment-button{
		display: none;
	}
	.comments-container .item .img-comment{
		width: 50px;
		height: 50px;
	}
	.right-one-new{
		display: none;
	}
	.comments{
		width: 100%;
	}
	.container-content-comment{
		margin-left: 0;
	}
	.flex-card{
		flex-direction: column;
	}
	.flex-card .left-card{
		width: 100%;
	}
	.left-card-slider-dots li{
		border-radius:3px;
	}
	.name-game-card{
		font-size: 33px;
	}
	.flex-card .right-card{
		width: 100%;
		margin-top: 20px;
	}
	.container-acc .account-block .first-line .price{
		display: none;
	}
	.title-similar{
		font-size: 18px;
	}
	.all-games-similar{
		font-size: 15px;
		margin-left: auto;
	}
	.block-games-mob{

	}
	.container-acc .account-block .second-line .block-games-mob .name-game{
		font-weight: normal;
		margin-top: 25px;
	}
	.container-acc .account-block .second-line .block-games-mob .name-game:first-child{
		margin-top: 0;
	}
	.container-acc .account-block .second-line .block-games-mob .name-game.bold{
		font-weight: bold;
	}
	.price-game{
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color:white;
		margin-top: 15px;
	}
	.container-acc .account-block .second-line{
		padding: 0 20px;
		padding-bottom: 20px;
		padding-top: 50px;
	}
	.left-card-slider-dots{
		width: 100%;
	}
	.luck-flex-main .item .bottom-price .no-item{
		margin-right: 1vw;
		font-size: 4.3vw;
	}
	.flex-end-speen{
		display: flex;
		flex-direction: column;
	}
	.container-flex-speen{
		order: 1;
	}
	.chance-drop{
		order: 2;
		margin-top: 35px;
	}
	.flex-end-speen .promocode{
		order: 3;
		margin-top: 28px;
	}
	.flex-end-speen{
		align-items:center;
	}
	.flex-end-speen .speen-button{
		margin: 0;
	}
	.first-flex-lk .flex-block{
		flex-direction: column;
	}
	.first-flex-lk .right-data{
		margin: 0;
		margin-top: 25px;
	}
	.first-flex-lk{
		flex-direction: column;
	}
	.first-flex-lk .right{
		margin: 0;
		margin-top: 25px;
	}
	.grid-buy{
		grid-template-columns: 100%;
	}
	.abs-ref1 .text-content{
		position: relative;
		width: 100%;
		padding: 0 4vw;
		z-index: 5;
		left: 0;
		top: 0;
		bottom: auto;
		box-sizing: border-box;
		margin: 0;
	}
	.lk-referal-container>div{
		position:relative;
		width: 100%;
		padding: 5.2vw 0;
		overflow: visible;
		margin-top: 0;
	}
	.abs-ref1 .title{
		font-size: 5vw;
	}
	.abs-ref1 .description{
		font-size: 3.2vw;
		margin-top: 1vw;
	}
	.soc-icons-referal img{
		height: 3.2vw;
	}
	.abs-ref1 form{
		flex-direction: column;
	}
	.abs-ref1 form input{
		width: 100%;
		height: 9vw;
		font-size: 3.8vw;
		border-radius:1.3vw;
	}
	.lk-referal-container .abs-ref1 .dop-img{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 5vw;
	}
	.abs-ref1 form button{
		width: 100%;
		height: 10vw;
		border-radius:1.3vw;
		margin-left: 0;
		margin-top: 2vw;
		font-size: 3.8vw;
	}
	.soc-icons-referal{
		margin-top: 3vw;
	}
	.soc-icons-referal .item{
		margin-right: 3vw;
	}
	.abs-ref1 form{
		margin-top: 3vw;
	}
	.lk-referal-container{
		padding-top: 0;
	}
	.abs-ref2 .title{
		font-size: 6.5vw;
	}
	.abs-ref2 .text-content{
		left: 0;
		top: auto;
		padding: 0 4%;
		z-index: 5;
	}
	.abs-ref2 .dop-img{
		width: 100%;
		padding-top: 57%;
	}
	.abs-ref2{
		display: flex;
		align-items:center;
		height: 53vw;
	}
	.abs-ref3 .dop-img{
		position:absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.abs-ref3 .text-content{
		position: relative;
		z-index: 5;
		left: 0;
		top: 0;
		padding: 0 4vw;
		margin: 3vw 0;
	}
	.abs-ref3 .text-content .title{
		font-size: 5.7vw;
		width: 50%;
		margin-top: 3vw;
	}
	.abs-ref3 .text-content img{
		height: 15vw;
	}
	.new1-abs{
		padding-top: 95%;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	}
	.new1-abs .dop-img{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border-radius:5vw;
	}
	.news-abs-container .text-content{
		bottom:5%;
		font-size: 6.5vw;
		margin-top: 2vw;
	}
	.new2-abs .dop-img, .new3-abs .dop-img, .new4-abs .dop-img, .new5-abs .dop-img{
		width: 100%;
		padding-top: 90%;
		border-radius:7.6vw;
	}
	.new2-abs,.new3-abs,.new4-abs,.new5-abs{
		width: 48%;
		position: relative;
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		margin-top: 30px;
	}
	.new2-abs .text-content,.new3-abs .text-content,.new4-abs .text-content,.new5-abs .text-content{
		position: static;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.text-content {}
	.news-abs-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.mob-dop .title-news-abs{
		order: 1;
		font-size: 14px;
		margin-top: 0;
	}
	.mob-dop .category-news-abs{
		order: 2;
		font-size: 14px;
		margin-top: 3px;
	}
	.news-abs-container .bg-bottom:before{
		display: none;
	}
	.new6-abs{
		position: relative;
		width: 100%;
		margin-top: 20px;
	}
	.news7-abs{
		position: relative;
		margin-top: 20px;
		width: 100%;
	}
	.news-row-one{
		grid-template-columns: 100%;
		margin-top: 20px;
		grid-row-gap: 20px;
	}
	.news-row-one .item .img{
		width: 30%;
		padding-top: 23%;
		border-radius: 3vw;
	}
	.news-row-one .item{
		display: flex;
	}
	.news-row-one .item .flex-text{
		flex: 1;
		margin-left: 17px;
		margin-right: 10px;
	}
	.news-row-one .item{
		font-size: 14px;
	}
	.news-row-one .item .category{
		opacity: 0.8;
		margin-top: 5px;
	}
	.news-abs-container-2>div{
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		overflow: visible;
		padding: 0;
		margin-top: 20px;
	}
	.news-abs-container-2{
		padding-top: 0;
		margin-top: 20px;
	}
	.new8-abs .flex-tree-news .item .desc-block .name{
		font-size: 14px;
	}
	.new8-abs .flex-tree-news .item .desc-block .category{
		font-size: 14px;
	}
	.new8-abs .flex-tree-news .item{
		margin-top: 20px;
	}
	.new10-abs,.new11-abs,.new12-abs{
		margin-top: 20px;
		display: flex;
	}
	.new10-abs .bg-img,.new11-abs .bg-img,.new12-abs .bg-img{
		position: static;
		width: 30%;
		padding-top: 23%;
		height: 0;
		border-radius: 3vw;
	}
	.news-abs-container-2 .bg-bottom:before{
		display: none;
	}
	.new10-abs .text-content,.new11-abs .text-content,.new12-abs .text-content{
		position:relative;
		flex: 1;
		padding: 0;
		margin-left: 20px;
		margin-right: 10px;
		display: flex;
		flex-direction: column;
		left: 0;
		top: 0;
	}
	.news-abs-container-2 .title-news-abs{
		font-size: 14px;
		order: 1;
		margin: 0;
	}
	.news-abs-container-2 .category-news-abs{
		font-size: 14px;
		order: 2;
		margin-top: 5px;
	}
	.new13-abs .flex-small-news{
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}
	.new13-abs .flex-small-news .item .img{
		width: 30%;
		padding-top: 23%;
		border-radius: 3vw;
	}
	.new13-abs .flex-small-news .item{
		display: flex;
	}
	.new13-abs .flex-small-news .item .flex-text{
		flex: 1;
		margin-left: 17px;
		margin-right: 10px;
	}
	.new13-abs .flex-small-news .item{
		font-size: 14px;
	}
	.new13-abs .flex-small-news .item .category{
		opacity: 0.8;
		margin-top: 5px;
	}
	.grid-full-news{
		grid-template-columns: 100%;
		margin-top: 20px;
		grid-row-gap: 20px;
	}
	.grid-full-news .item{
		display: flex;
	}
	.grid-full-news .item .preview{
		height: 0;
		width: 30%;
		padding-top: 23%;
		border-radius: 3vw;
	}
	.grid-full-news .item .name-new{
		font-size: 14px;
		margin-top: 0;
	}
	.grid-full-news .item .category{
		margin-top: 5px;
		font-size: 14px;
	}
	.grid-full-news .item .text-block{
		flex:1;
		margin-left: 20px;
		margin-right: 10px;
	}
	.abs-release{
		display: none;
	}
	.fist-line-catalog-item .platforms{
	}
	.news-title-page{
		font-size: 33px;
	}
	.tablet-fade{
		display: none;
	}
	.luck-flex-main .item .abs-img1{

		margin-left: -10%;

		width: 125%;

		margin-top: -6%;

	}
	.luck-flex-main .item .abs-img2{

		margin-left: 0%;

		width: 115%;

		margin-top: -15%;
	}
	.luck-flex-main .item .abs-img3{

		margin-left: -22%;

		min-width: 140%;

		margin-top: -19%;
	}
	.abs-ref2 .abs-img{
		position: absolute;
		margin: 0;
		width: calc(100% + 4.6vw);
		margin-top: 5.2vw;
	}
	.abs-last-2 img{
		width: 102%;
		margin-top: -5%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.abs-last-3 img{

		width: 104.3%;

		margin-left: 0;

		left: 0;

		top: 0;

		margin-top: -4%;

		POSITION: ABSOLUTE;
	}
	.flex-mob-footer{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 21px;
	}
	body::after{
		display: none;
	}
	body{
		padding-bottom: 0;
	}
	.luck-flex-main .item .bottom-price .item-true{
		font-size: 6vw;
	}
	.top-banner-main.mob-fade{
		margin-top: 25px;
	}
}






























































@media (min-width:768px) and (max-width: 1024px){
	.title-one-new{
		font-size: 46px;
	}
	.container-category-new .item{
		padding: 15px 25px;
		font-size: 14px;
		margin-right: 20px;
	}
	.flex-category-new .date-publish-new{
		font-size: 14px;
	}
	.content-one-new{
		font-size: 16px;
		margin-top: 25px;
	}
	.other-news-block .other-title{
		font-size: 32px;
	}
	.grid-other-news .item .name{
		font-size: 15px;
		margin-top: 10px;
	}
	.grid-other-news .item .category{
		font-size: 15px;
	}
	.title-comments{
		font-size: 32px;
	}
	.add-comment-button{
		font-size: 16px;
		margin-left: 20px;
	}
	.comments-container .item .img-comment{
		width: 44px;
		height: 44px;
	}
	.name-comment{
		font-size: 14px;
	}
	.date-comment{
		font-size: 14px;
		margin-left: 15px;
	}
	.container-content-comment{
		font-size: 14px;
		padding-bottom: 20px;
	}
	.content-comment{
		margin-left: 1.3vw;
	}
	.comments-container .item{
		margin-top: 20px;
	}
	.show-more-button-comment{
		font-size: 14px;
		padding: 15px 32px;
		margin-top: 60px;
	}
	.right-one-new{
		display: none;
	}
	.flex-category-new{
		margin-top: 2vw;
	}
	.content-one-new img{
		margin-top: 15px;
	}
	.content-one-new ul li{
		margin-top: 5px;
		padding-left: 20px;
	}
	.content-one-new ul{
		margin-top: 1.3vw;
	}
	body{
		font-size: 1vw;
	}
	.content-one-new ul li::before{
		width: 6px;
		height: 6px;
		top: 8px;
	}
	.left-one-new{
		width: 100%;
	}
	.comments{
		width: 100%;
	}
	.title-one-new{
		font-size: 46px;
	}
	.container-category-new .item{
		padding: 7px 10px;
		font-size: 14px;
		margin-right: 8px;
		border-radius: 4px;
	}
	.flex-category-new .date-publish-new{
		font-size: 14px;
		margin-left: 5px;
	}
	.content-one-new{
		font-size: 15.3px;
		margin-top: 25px;
	}
	.other-news-block .other-title{
		font-size: 32px;
	}
	.grid-other-news .item .name{
		font-size: 14px;
		margin-top: 10px;
	}
	.grid-other-news .item .category{
		font-size: 14px;
	}
	.title-comments{
		font-size: 32px;
	}
	.add-comment-button{
		font-size: 16px;
		margin-left: 20px;
		display: block;
	}
	.comments-container .item .img-comment{
		width: 44px;
		height: 44px;
	}
	.name-comment{
		font-size: 14px;
	}
	.date-comment{
		font-size: 14px;
		margin-left: 15px;
	}
	.container-content-comment{
		font-size: 14px;
		padding-bottom: 20px;
	}
	.content-comment{
		margin-left: 1.3vw;
	}
	.comments-container .item{
		margin-top: 20px;
	}
	.show-more-button-comment{
		font-size: 14px;
		padding: 15px 32px;
		margin-top: 60px;
	}
	.right-one-new{
		display: none;
	}
	.flex-category-new{
		margin-top: 2vw;
	}
	.content-one-new img{
		margin-top: 15px;
	}
	.content-one-new ul li{
		margin-top: 5px;
		padding-left: 20px;
	}
	.content-one-new ul{
		margin-top: 1.3vw;
	}
	body{
		font-size: 1vw;
	}
	.content-one-new ul li::before{
		width: 6px;
		height: 6px;
		top: 6px;
	}
	.left-one-new{
		width: 100%;
	}
	.comments{
		width: 100%;
	}
	.grid-other-news .item:nth-child(3){
		display: none;
	}
	.grid-other-news{

		grid-template-columns: 48% 48%;

	}
	.right-container-slider svg{
		border-radius:16px;
		width: 100%;
		padding: 0;
		margin: 0;
		position: relative;
	}
	.right-container-slider{
		width: 100%;
		padding: 0;
		height: auto;
		margin: 0;
	}
	.right-container-slider .banner-price .low-price{
		font-size: 36px;
	}
	.right-container-slider .banner-price .normal-price{
		font-size: 28px;
	}
	.right-container-slider .banner-text{
		font-size: 50px;
	}
	.right-container-slider .banner-price .low-price span{
		font-size: 20px;
	}
	.right-container-slider .banner-price{
		left: 6%;
	}
	.right-container-slider .banner-text{
		margin-top: 7%;
		left: 6%;
	}
	.lick-title-main{
		font-size: 32px;
	}
	.luck-flex-main .item{
		width: 70%;
		margin-top: 100px;
	}
	.luck-flex-main{
		align-items: center;
	}
	.luck-flex-main .item .left-price .item-price{
		font-size: 22px;
	}
	.luck-flex-main .item .bottom-price .item-true{
		font-size: 35px;
	}
	.luck-flex-main .item .bottom-price .no-item{
		font-size: 26px;
		margin-right: 8vw;
	}
	.title-catalog-main{
		font-size: 32px;
	}
	.first-line-catalog-main a{
		font-size: 28px;
	}
	.category-news-abs{
		font-size: 3.6vw;
	}
	.title-news-abs{
		font-size: 7vw;
	}
	.new6-abs .flex-tree-news .item .name{
		font-size: 30px;
	}
	.new6-abs .flex-tree-news .item .category{
		font-size: 30px;
	}
	.new6-abs .flex-tree-news .item{
		margin-top: 40px;
	}
	.new6-abs .flex-tree-news{
		margin-top: 40px;
	}
	.abs-last-1 .content-last .title-last{
		font-size: 4.9vw;
	}
	.abs-last-1 .content-last .desc-last{
		font-size: 2.6vw;
	}
	.abs-last-1 .content-last .button-last{
		font-size: 3.3vw;
		padding: 3vw 6vw;
		border-radius: 2vw;
	}
	.abs-last-2 .content-last .title-last{
		font-size: 4.9vw;
		width: 55%;
	}
	.abs-last-2 .content-last .desc-last{
		font-size: 2.6vw;
		margin-top: 25px;
		width: 29%;
	}
	.abs-last-2 .content-last .form-subscribe input{
		font-size: 3.3vw;
		border-radius: 12px;
	}
	.abs-last-2 .content-last .form-subscribe button{
		font-size: 3.3vw;
		border-radius: 12px;
	}
	.abs-last-2 .content-last .form-subscribe{
		margin-top: 50px;
	}
	.abs-last-3 .content-last .title-last{
		font-size: 4.9vw;
	}
	.abs-last-3 .content-last .form-qeustions textarea{
		font-size: 3.3vw;
		margin-top: 3vw;
	}
	.abs-last-3 .content-last .form-qeustions input{

		font-size: 3.3vw;
	}
	.abs-last-3 .content-last .form-qeustions button{

		font-size: 3.3vw;

		overflow: hidden;
	}
	.abs-last-3 .content-last{
		margin-top: 9%;
	}
	.abs-last-3 .content-last .form-qeustions{
		margin-top: 35px;
	}
	.abs-last-3 .content-last .form-qeustions .b1{
		margin-top: 35px;
	}
	.footer-container{
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		padding: 0;
		margin: 41px;
		padding-top: 50px;
	}
	.col-footer{
		width: 30%;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.nav-footer li{
		justify-content: flex-start;
	}
	.nav-footer a{
		text-align: left;
	}
	.nav-footer li:first-child{
		justify-content: flex-start;
	}
	.soc-footer img{
		height: 20px;
	}
	.soc-footer a{
		margin-left: 15px;
	}
	.mobile-nav{
		width: 421px;
		border-radius:21px;
		margin-left: 4vw;
	}
	.grid-categories{

		display: grid;

		grid-template-columns: 48% 48%;
		order: 1;
	}
	.dop-block-catalog{
		display: flex;
		flex-direction: column;
	}
	.first-line-catalog{
		order: 2;
		flex-direction: row;
		align-items: center;
	}
	.find-game-catalog{
		order: 2;
		flex: 1;
		margin-left: 15px;
	}
	.first-line-catalog .left-flex{
		order: 1;
		width: auto;
		overflow: visible;
		margin: 0;
	}
	.find-game-catalog input{
		width: 100%;
	}
	.grid-other-news{
		grid-template-columns: 30% 30% 30%;
	}
	.grid-other-news .item{
		display: block;
	}
	.grid-other-news .item:nth-child(3){
		display: block;
	}
	.flex-card .right-card{
		margin-top: 50px;
	}
	.container-acc .account-block .first-line .price{
		display: block;
	}
	.price-game{
		display: none;
	}
	.container-acc .account-block .second-line{
		display: flex;
		align-items:flex-end;
	}
	.container-acc .account-block .second-line .href-game{
		margin-left: auto;
	}
	.flex-end-speen{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.container-flex-speen{
		width: 100%;
		margin: auto;
		justify-content: center;
		align-items:center;
		display: flex;
	}
	.demo-speen{
		margin: 0;
		margin-left: 42px;
	}
	.flex-end-speen .promocode{
		margin-right: 56px;
		order: 2;
		margin-top: 0;
		margin-top: 24px;
	}
	.chance-drop{
		order: 3;
		margin-top: 0;
		margin-top: 24px;
	}
	.grid-buy{
		grid-template-columns: 48% 48%;
	}
	.abs-ref1 .description{
		font-size: 2.3vw;
	}
	.abs-ref1 form input{
		width: 49vw;
		font-size: 1.7vw;
		height: 6.5vw;
	}
	.soc-icons-referal img{
		height: 2.8vw;
	}
	.abs-ref1 form{
		flex-direction: row;
	}
	.abs-ref1 form button{
		width: 18vw;
		height: 6.5vw;
		font-size: 2vw;
		margin: 0;
		margin-left: 5vw;
	}
	.first-flex-lk .flex-block{
		flex-direction: row;
	}
	.first-flex-lk .right-data{
		margin-top: 0;
		margin-left: 40px;
	}
	.mob-dop .title-news-abs{
		font-size: 18px;
	}
	.mob-dop .category-news-abs{
		font-size: 18px;
	}
	.new2-abs .dop-img, .new3-abs .dop-img, .new4-abs .dop-img, .new5-abs .dop-img{
		border-radius:4vw;
	}
	.news7-abs .desc-block .name{
		font-size: 30px;
	}
	.news7-abs .desc-block .link{
		font-size: 30px;
	}
	.news7-abs .desc-block svg{
		width: 15px;
	}
	.news-row-one .item{
		font-size: 30px;
	}
	.new8-abs .flex-tree-news .item .desc-block .name{
		font-size: 30px;
	}
	.new8-abs .flex-tree-news .item .desc-block .category{
		font-size: 30px;
	}
	.news-abs-container-2 .title-news-abs{
		font-size: 30px;
	}
	.news-abs-container-2 .category-news-abs{
		font-size: 30px;
	}
	.new13-abs .flex-small-news .item{
		font-size: 30px;
	}
	.grid-full-news .item .name-new{
		font-size: 30px;
	}
	.grid-full-news .item .category{
		font-size: 30px;
	}
	.new4-abs .img-mob{
		border-radius:2vw;
	}
	.name-luck-block{
		font-size: 9vw;
	}
	.news-title-page{
		font-size: 38px;
	}
	.title-similar{
		font-size: 38px;
	}
	.all-games-similar{
		font-size: 28px;
	}
	footer .logo-header{
		position: static;
		left: 0;
		top: 20px;
	}
	.tablet-no-margin{
		margin-top: 0;
	}
	.footer-container.tablet-fade{
		display: flex !important;
		flex-direction: column;
	}
	.footer-container.mob-fade{
		display: none;
	}
	footer .first-line{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 23px;
	}
	.soc-footer{
		flex: 1;
		justify-content: flex-end;
		display: flex;
	}
	footer .second-line{
		display: flex;
		justify-content: space-between;
	}
	.col-footer{
		width: 100%;
		margin-top: 0;
	}
	footer .second-line>div{
		max-width:30%;
	}
	.right-container-slider .item .img-mob{
		border-radius:3vw;
	}
	.luck-flex-main .item .abs-img1{

		margin-left: -21%;

	}
	.luck-flex-main .item .abs-img2{

		margin-left: -7%;
	}
	.luck-flex-main .item .abs-img3{

		margin-left: -32%;
	}
	.lk-referal-container .abs-ref1 .dop-img{
		display: none;
	}
	.tablet-fade{
		display: block;
	}
	.abs-ref1 .abs-img{
		width: calc(100% + 4vw);
		margin-top: -10vw;
	}
	.referal-sect{
		padding-top: 210px;
	}
	.abs-last-3 img{
		margin-top: -2%;
	}
	.grid-catalog .item{
		width: 48%;
	}
	.pay-footer-items img{
		height: 20px;
	}
	.footer-years{
		font-size: 20px;
	}
}
