@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraboldItalic.eot');
    src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
        url('../fonts/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraboldItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraboldItalic.woff') format('woff'),
        url('../fonts/Gilroy-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff2') format('woff2'),
        url('../fonts/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
        url('../fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-MediumItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-MediumItalic.woff') format('woff'),
        url('../fonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
        url('../fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-BlackItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-BlackItalic.woff') format('woff'),
        url('../fonts/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
        url('../fonts/Gilroy-UltraLight.woff') format('woff'),
        url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
        url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-RegularItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
        url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiboldItalic.eot');
    src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
        url('../fonts/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiboldItalic.woff') format('woff'),
        url('../fonts/Gilroy-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
        url('../fonts/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-HeavyItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-HeavyItalic.woff') format('woff'),
        url('../fonts/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('../fonts/Gilroy-Extrabold.woff') format('woff'),
        url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
        url('../fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-BoldItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-BoldItalic.woff') format('woff'),
        url('../fonts/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
        url('../fonts/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-UltraLightItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-UltraLightItalic.woff') format('woff'),
        url('../fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
        url('../fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-LightItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-LightItalic.woff') format('woff'),
        url('../fonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('../fonts/Gilroy-Heavy.woff') format('woff'),
        url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Thin.woff2') format('woff2'),
        url('../fonts/Gilroy-Thin.woff') format('woff'),
        url('../fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
        url('../fonts/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ThinItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-ThinItalic.woff') format('woff'),
        url('../fonts/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

:root {
    --color-primary: #000000f1;
    --color-secondary: #fffffffa;
    --color-alternative: #52525B;
    --bg-block-color-primary: #EEEFF3;
    --bg-block-color-secondary: #2662F3;
    --bg-block-color-alternative: #fffffffa;
    --bg-block-color-dark: #222222;
    --fs-base: 18px;
    --fw-base: 500;
    --fw-second: 700;
    --fw-title: 500;
    --fs-title: 82px;
    --fs-subtitle: 64px;
    --fs-sub-subtitle: 54px;
    --fs-big-txt: 41px;
    --fs-nano: 12px;
    --fs-footer: 14px;
    --fs-mini-big-txt: 28px;
    --fs-title-txt: 26px;
    --fs-list: 17px;
    --fs-content: 22px;
    --max-w: 1390px;
    --rounded: 30px;
    --rounded-min: 25px;
    --rounded-big: 56px;
    --rounded-nano: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--fs-base);
    font-family: 'Gilroy', sans-serif;
    font-weight: var(--fw-base);
    line-height: 1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

button {
    border-radius: var(--rounded);
    border: none;
    background-color: var(--bg-block-color-secondary);
    color: var(--color-secondary);
    padding: 18px 30px;
    font-weight: var(--fw-second);
    font-size: var(--fs-content);
}

.header {
    margin-top: 0;
    padding: 16px 50px;
    background-color: var(--bg-block-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--rounded-big);
    position: fixed;
    width: calc(100% - 40px);
    max-width: var(--max-w);
    z-index: 4;
    top: 43px;
}

.headre_typer {
    height: 154px;
}

.center {
    max-width: var(--max-w);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo {}

.header_logo-img {}

.header_nav {
    max-width: 600px;
    width: 100%;
    flex-grow: 2;
}

.header_nav-list {
    display: flex;
    justify-content: space-between;

}

.header_nav-item {}

.header_nav-link {}

.header_btn {
    font-size: var(--fs-base);
}

.about {
    margin-top: 20px;
    background-image: url(../img/bgnd1.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    padding: 100px 0;
}

.about_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_wrap-left {
    max-width: 793px;
}

.about_title {
    font-size: var(--fs-title);
    font-weight: var(--fw-title);
    margin-bottom: 47px;
}

.about_list {
    display: flex;
    gap: 20px;
    padding: 0;
}

.about_item {
    border: 1px solid var(--color-primary);
    border-radius: var(--rounded-min);
    font-size: var(--fs-list);
    padding: 9px 15px;
    display: block;
}

.about_list.first {
    margin-bottom: 20px;
}

.about_list.second {
    margin-bottom: 50px;
}

.about_btn {
    font-size: var(--fs-content);
}

.about_wrap-right {
    max-width: 338px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about_wrap-right p {
    margin: 0;
}

.order {
    margin-bottom: 77px;
}

.order_wrap {
    margin: 0 auto;
    display: flex;
    background-color: var(--bg-block-color-secondary);
    width: fit-content;
    padding: 0 9px;
    border-radius: var(--rounded);
    gap: 9px;
    align-items: center;
}

.order_btn {
    font-size: var(--fs-content);
}

.order_list {
    display: flex;
    align-items: center;
    gap: 9px;
    margin: 0;
    padding: 0;
}

.order_item {
    display: flex;
    align-items: center;
}

.portfolio {
    padding-bottom: 100px;
}

.portfolio_title {
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-title);
    margin-bottom: 70px;
}

.portfolio_slider {}

.portfolio_slide {

    min-height: 385px;
    border-radius: var(--rounded);
    padding-bottom: 30px;
}

.portfolio_slider-wrap {
    background-color: var(--bg-block-color-primary);
    min-height: 385px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    padding: 40px;
    border-radius: var(--rounded);
}

.portfolio_slider-wrap.sber {
    background-image: url(../img/port_sber.png);
}

.portfolio_slider-wrap.ed {
    background-image: url(../img/port_ed.png);
    background-position: center 170px;

}

.portfolio_slider-wrap.glorax {
    background-image: url(../img/port_glorax.png);
    background-position: center 150px;
}

.portfolio_slider-wrap.top {
    background-image: url(../img/port_topevent.png);
    background-position: center 200px;
}


.portfolio_slide-logo-image {
    margin-bottom: 20px;
}

.portfolio_slide-txt {
    font-size: var(--fs-content);
}

.swiper-button-next {}

.swiper-button-prev {}

.portfolio_slider-link-wrap {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 60px;
    display: flex;
}

.portfolio_slide-btn {
    margin: 0 auto;
    border-radius: var(--rounded);
    border: none;
    background-color: var(--bg-block-color-secondary);
    color: var(--color-secondary);
    padding: 18px 30px;
    font-weight: var(--fw-second);
    display: flex;
    align-items: center;
}

.step {
    margin-bottom: 110px;
}

.step_title {
    font-size: var(--fs-sub-subtitle);
    font-weight: var(--fw-title);
    margin-bottom: 70px;
    font-weight: var(--fw-title);
}

.step_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 110px;
    justify-content: space-between;
}

.step_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 55%;
    width: calc(50% - 55px);
}

.step_wrap:nth-child(1) {
    background-image: url(../img/01.png);
    background-size: 46%;
}

.step_wrap:nth-child(2) {
    background-image: url(../img/02.png);
}

.step_wrap:nth-child(3) {
    background-image: url(../img/03.png);
}

.step_wrap:nth-child(4) {
    background-image: url(../img/04.png);
}



.step_subtitle {
    margin-bottom: 55px;
    font-size: var(--fs-big-txt);
    font-weight: var(--fw-title);
}

.step_txt {
    font-size: var(--fs-mini-big-txt);
}

.advantages {
    margin-bottom: 54px;
}

.advantages_wrap {
    display: flex;
    justify-content: space-between;
}

.advantages_left {}

.advantages_title {
    font-size: var(--fs-sub-subtitle);
    font-weight: var(--fw-title);
    margin-bottom: 82px;
}

.advantages_list {
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-bottom: 70px;
    max-width: 600px;
}

.advantages_item {
    display: flex;
    gap: 28px;
    align-items: center;
}

.advantages_item-img {
    height: 70px;
}

.advantages_txt {
    font-size: var(--fs-mini-big-txt);
}

.advantages_btn {}

.advantages_right {}

.advantages_img {}

.promo {
    margin-bottom: 206px;
    padding-top: 191px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 30%;
    background-image: url(../img/bgnd1.png);
}

.promo_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo_title {
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-title);
    margin-bottom: 20px;
}

.promo_txt {
    font-size: var(--fs-mini-big-txt);
    margin-bottom: 30px;
}

.promo_btn-wrap {
    display: flex;

    margin: 0 auto;
}

.promo_btn-txt {
    padding: 18px 100px 18px 35px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-primary);
    border-radius: var(--rounded);
    background-color: var(--bg-block-color-primary);
    max-height: 60px;
}

.promo_btn {
    position: relative;
    margin-left: -75px;
    height: 60px;
}

.promo_discount {
    top: -20px;
    position: absolute;
}

.promo_politic {
    font-size: var(--fs-nano);
    margin-top: 15px;
}

.promo_pilitic-link {
    text-decoration: underline;
}

.contacts {
    margin-bottom: 130px;
}

.contacts_title {
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-title);
    margin-bottom: 70px;
}

.contacts-first {}

.contacts-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contacts_subtitle-block {
    background-color: var(--bg-block-color-primary);
    border-radius: var(--rounded);
    width: calc(50% - 10px);
    padding: 30px 40px;
}

.block-one .contacts_subtitle {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 26px;
}

.contacts_txt {
    max-width: 300px;
    line-height: 1.2;
    font-size: var(--fs-content);
}

.contacts_first-img {
    background-color: var(--bg-block-color-secondary);
    padding: 3px 6px 3px 8px;
    border-radius: var(--rounded-nano);
}

.block-one {}

.contacts_first-img {}

.contacts_subtitle_txt {}

.contacts_txt_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-two .contacts_txt {
    font-size: var(--fs-title-txt);
    font-weight: 600;
    margin-bottom: 23px;
}

.contacts_txt-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 206px;
    width: 100%;
    background-color: var(--bg-block-color-alternative);
    padding: 13px 20px;
    border-radius: var(--rounded-big);
    font-size: var(--fs-list);
}

.block-two .contacts_txt {
    max-width: 220px;
}

.block-two {
    width: calc(25% - 15px);
}

.block-three {
    width: calc(25% - 15px);
    background-color: var(--bg-block-color-dark);
    position: relative;
}

.block-three .contacts_subtitle,
.block-four .contacts_subtitle {
    font-size: var(--fs-title-txt);
    font-weight: var(--fw-second);
    margin-bottom: 16px;
    color: var(--color-secondary);
}

.block-three .contacts_txt,
.block-four .contacts_txt {
    font-size: var(--fs-base);
    color: var(--color-secondary);

}

.block-three .contacts_txt-link {
    position: absolute;
    width: fit-content;
    padding: 11px 7px;
    border-radius: 50%;
    background-color: var(--bg-block-color-secondary);
    right: 22px;
    bottom: 33px;
}

.block-three .contacts_txt-link svg path {
    stroke: var(--bg-block-color-alternative)
}

.block-four-txt-wrap {
    display: flex;
    gap: 13px;
    align-items: center;
}

.block-four {
    background-color: var(--bg-block-color-secondary);
    padding-top: 41px;
}

.block-four .contacts_txt {
    max-width: 379px;

}

.block-fiwe .contacts_subtitle {
    font-size: var(--fs-title-txt);
    font-weight: 600;
    margin-bottom: 27px;
}

.block-fiwe-wrap-link {
    display: flex;
    gap: 32px;
}

.block-fiwe {}

.block-fiwe .contacts_txt-link {
    display: flex;
    gap: 20px;
}

.footer {
    background-color: var(--bg-block-color-primary);
    padding-top: 46px;
    padding-bottom: 45px;
}

.footer_title-wrap {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 28px;
}

.footer_title {
    font-size: var(--fs-big-txt);
    font-weight: var(--fw-second);
}

.footer_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-list);
    padding: 13px 20px;
    min-width: 205px;
    align-items: center;
}

.footer_box {
    display: flex;
    justify-content: space-between;
}

.footer_logo-wrap {
    margin-bottom: 14px;
    width: 30%;
}

.footer_logo {}

.footer_txt {
    max-width: 430px;
    font-size: var(--fs-footer);
    color: var(--color-alternative);
    margin-bottom: 35px;
}

.footer_contacts-wrap {
    display: flex;
    gap: 11px;
}

.footer_contacts-item {}

.footer_else-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_nav-wrap {
    display: flex;
    gap: 100px;
}

.footer_else-item {}

.footer_else-item:nth-child(1) {
    font-weight: var(--fw-second);
    font-size: var(--fs-list);
    margin-bottom: 10px;
}

.footer_else-link {
    font-size: var(--fs-footer);
}

.burger_label {
    display: none;
}

.burger-input {
    visibility: hidden;
    position: absolute;
    left: -99999999999px;
}

.mobile {
    display: none;
}


.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
    background-image: url(../img/left.svg);
    width: 56px;
    height: 56px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 56px;
    height: 56px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    transform: rotate(180deg);
}

.advantages_title .br,
.contacts_title .br {
    display: none;
}

.hidden_navigator {
    position: absolute;
    top: -160px;
}

@media (max-width:1400px) {

    .header_wrap,
    .about,
    .portfolio,
    .step,
    .advantages,
    .promo,
    .contacts,
    .footer {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }
}

@media (max-width:767px) {

    :root {
        --fs-base: 18px;
        --fs-title: 43px;
        --fs-subtitle: 24px;
        --fs-sub-subtitle: 32px;
        --fs-big-txt: 24px;
        --fs-nano: 12px;
        --fs-footer: 14px;
        --fs-mini-big-txt: 20px;
        --fs-title-txt: 26px;
        --fs-list: 15px;
        --fs-content: 18px;
        --max-w: 767px;
    }

    .hidden_navigator {
        position: absolute;
        top: -100px;
    }

    .center {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {
        margin: 0;
        background-color: var(--bg-block-color-alternative);
        padding-top: 0;
        padding-bottom: 0;
        top: 0;
        width: 100%;
        left: 0;
        border-radius: 0;
        opacity: 1;
        padding-bottom: 4px;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .headre_typer {
        height: 52px;
    }

    .header_btn {
        display: none;
    }

    .header_logo-img {
        height: 30px;
    }

    .burger_label {
        display: block;
        background-color: var(--bg-block-color-secondary);
        padding: 18px 14px;
        border-radius: 0 0 25px 25px;
        position: relative;
        height: 52px;
        min-width: 50px;
    }

    .burger_label span {
        height: 2px;
        width: 22px;
        position: absolute;
        background-color: var(--bg-block-color-alternative);
        left: 14px;
    }

    .burger_label span:nth-child(1) {
        top: 18px;
    }

    .burger_label span:nth-child(2) {
        top: 25px;
    }

    .burger_label span:nth-child(3) {
        bottom: 18px;
    }

    .header_nav {
        width: 250px;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        transition: transform 0.3s;
        transform: translateX(250px);
        background-color: var(--bg-block-color-alternative);
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        border-left: 2px solid var(--bg-block-color-secondary);
        opacity: 0.99;
        z-index: 5;
    }

    .header_nav-list {
        flex-direction: column;
        justify-content: start;
        padding-top: 20px;
        padding-left: 20px;
        gap: 25px;
    }

    .burger-input:checked~.header_nav {
        transform: translateX(0);
    }

    .burger-input:checked~.header_nav .burger_label span:nth-child(1) {
        transform: rotate(45deg);
        top: 25px;
    }

    .burger-input:checked~.header_nav .burger_label span:nth-child(2) {
        display: none;
    }

    .burger-input:checked~.header_nav .burger_label span:nth-child(3) {
        transform: rotate(-45deg);
        top: 25px;
    }

    .about_wrap-right {
        display: none;
    }

    .advantages_img {
        display: none;
    }

    .block-fiwe-wrap-link {
        flex-direction: column;
    }

    .order {
        display: none;
    }

    .about {
        background-image: url(../img/mobile_about_bgnd.png);
        background-position: center;
        background-size: cover;
        padding-top: 83px;
        margin-top: 0;
    }

    .about_wrap-left {
        display: flex;
        flex-direction: column;
        background-image: url(../img/about_lines.svg);
        background-position: top center;
        background-size: 350px;
        background-repeat: no-repeat;
    }

    .about_title {
        order: 2
    }

    .about_list {
        flex-direction: column;
        position: relative;
    }

    .about_item {
        width: fit-content;
        position: absolute;
    }

    .about_list.first {
        height: 181px;
        order: 1
    }

    .about_list.first .about_item:nth-child(1) {
        left: 85px;
        top: -5px;
    }

    .about_list.first .about_item:nth-child(2) {
        right: 50px;
        top: 53px;
        padding: 12px 15px;
    }

    .about_list.first .about_item:nth-child(3) {
        left: 160px;
        bottom: 5px;
    }

    .about_list.second {
        height: 190px;
        order: 3
    }

    .about_list.second .about_item:nth-child(1) {
        right: 135px;
        top: 28px;
    }

    .about_list.second .about_item:nth-child(2) {
        left: 56px;
        top: 95px;
        padding: 21px 15px;
    }

    .about_list.second .about_item:nth-child(3) {
        right: 160px;
        bottom: -45px;
    }

    .about_btn {
        order: 4;
        width: fit-content;
        margin: 0 auto;
        margin-top: 40px;
    }

    .about_title {
        text-align: center;
        margin-top: 38px;
        margin-bottom: 38px;
        height: 75px;
    }

    .portfolio_title {
        font-weight: var(--fw-second);
        text-align: center;
        margin-top: 90px;
        margin-bottom: 35px;
    }

    .portfolio_title span {
        display: none;
    }

    .swiper {
        display: none;
    }

    .portfolio {
        padding-bottom: 70px;
    }

    .portfolio_slider-wrap {
        min-height: 231px;
    }

    .portfolio_slide {
        min-height: 231px;
    }

    .portfolio_slide-txt {
        line-height: 1.2;
    }

    .portfolio_slider-wrap.sber {
        background-position: right;
    }

    .portfolio_slider-wrap.ed {
        background-position: right 50px;
    }

    .portfolio_slider-wrap.ed img {
        margin-left: -23px;
    }

    .portfolio_slider-wrap.glorax {
        background-position: right bottom;
        background-image: url(../img/glorax_mobile.png);
        background-size: auto;
    }

    .portfolio_slider-wrap.glorax .portfolio_slide-txt {
        max-width: 220px;
    }

    .portfolio_slider-wrap.top {
        background-position: 420px bottom;
        background-image: url(../img/top_mobile.png);
        background-size: auto;
    }

    .portfolio_slider-wrap.top .portfolio_slide-txt {
        max-width: 220px;
    }

    .step_title {
        font-weight: var(--fw-second);
        text-align: center;
        margin-bottom: 50px;
    }

    .step_title span {
        display: none;
    }

    .step_list {
        flex-direction: column;
        gap: 30px;
    }

    .step_wrap {
        width: 100%;
        padding-top: 50px;

    }

    .step_subtitle {
        font-weight: var(--fw-second);
        margin-bottom: 20px;
        max-width: 50%;
    }

    .step_txt {
        max-width: 75%;
    }

    .step_wrap:nth-child(1) {
        background-size: 270px;
        padding-top: 66px;
    }

    .step_wrap:nth-child(2) {
        background-size: 270px;
    }

    .step_wrap:nth-child(3) {
        background-size: 270px;
    }

    .step_wrap:nth-child(4) {
        background-size: 270px;
    }

    .step_wrap:nth-child(2n) {
        justify-content: end;
        background-position: left;
    }

    .step_wrap:nth-child(2n) .step_txt {
        text-align: right;
    }

    .step_wrap:nth-child(2n) .step_subtitle {
        text-align: right;
    }

    .advantages_title {
        text-align: center;
        font-weight: var(--fw-second);
        margin-bottom: 35px;
    }

    .advantages_title span {
        display: none;
    }

    .advantages_wrap {
        align-items: center;
        justify-content: center;
    }

    .advantages_list {
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .advantages_title {
        position: relative;
    }

    .advantages_title::after,
    .advantages_title::before {
        content: '';
        width: 25px;
        height: 25px;
        background-image: url(../img/star.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
    }

    .advantages_title::before {
        left: 80px;
        top: -10px;
    }

    .advantages_title::after {
        right: 80px;
        top: 20px;
    }

    .advantages_item {
        padding: 30px 25px;
        background-color: var(--bg-block-color-primary);
        border-radius: 16px;
        width: 100%;
    }

    .advantages_item-img {
        height: 50px;
    }

    .advantages_btn {
        display: none;
    }

    .advantages {
        margin-bottom: 0;
    }

    .promo {
        background-size: contain;
        margin-bottom: 110px;
    }

    .contacts_title {
        margin-bottom: 35px;
        font-weight: var(--fw-second);
        text-align: center;
    }

    .contacts_title span {
        display: none;
    }

    .contacts-block {
        flex-direction: column;
    }

    .contacts_subtitle-block {
        width: 100%;
    }

    .contacts_subtitle_txt {
        font-weight: var(--fw-second);
    }

    .contacts_first-img {
        display: none;
    }

    .block-one .contacts_subtitle_txt {
        font-size: var(--fs-mini-big-txt);
    }

    .contacts_subtitle-block.block-two {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 26px;
    }

    .block-two .contacts_txt {
        font-size: var(--fs-mini-big-txt);
        font-weight: var(--fw-second);
        margin-bottom: 0;
    }

    .contacts_txt-link {
        height: fit-content;
    }

    .block-three .contacts_txt {
        font-weight: 300;
    }

    .block-three .contacts_txt-link {
        width: 69px;
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .block-three .contacts_subtitle,
    .block-four .contacts_subtitle {
        font-size: var(--fs-mini-big-txt);
        font-weight: var(--fw-second);
    }

    .block-fiwe .contacts_subtitle {
        font-size: var(--fs-mini-big-txt);
        font-weight: var(--fw-second);
    }

    .block-fiwe-wrap-link {
        gap: 14px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .block-fiwe .contacts_txt-link:nth-child(1) {
        min-width: calc(50% - 7px);
    }

    .block-fiwe .contacts_txt-link:nth-child(2) {
        min-width: calc(50% - 7px);
    }

    .block-fiwe .contacts_txt-link:nth-child(3) {
        min-width: calc(100%);
    }

    .contacts {
        margin-bottom: 70px;
    }

    .footer_box {
        flex-direction: column;
    }

    .footer_logo-wrap {
        order: 2;
    }

    .footer_nav-wrap {
        gap: 34px;
        flex-wrap: wrap;
    }

    .footer .logo img {
        display: none;
    }

    .footer_logo-wrap {
        width: 100%;
        margin-bottom: 0;
        margin-top: 25px;
    }

    .footer_contacts-wrap {
        display: none;
    }

    .footer_txt {
        max-width: unset;
        margin-bottom: 0;
    }

    .footer_else-list {
        gap: 10px;
    }

    .footer_else-item:nth-child(1) {
        margin-bottom: 3px;
    }

    .footer_else-list.mobile {
        display: block;
    }

    .mobile {
        display: block;
    }

    .portfolio_slider.mobile {
        display: block;
    }


}

@media (max-width:670px) {

    .about_list.first .about_item:nth-child(3) {
        left: 110px;
    }

    .about_list.second .about_item:nth-child(3) {
        right: 100px;
    }

    .advantages_title::after {
        right: 60px;
    }

    .advantages_title::before {
        left: 60px;
    }
}

@media (max-width:670px) {
    .advantages_title::after {
        right: 40px;
    }

    .advantages_title::before {
        left: 40px;
    }

    .portfolio_slide-txt {
        max-width: 50%;
    }

    .portfolio_slider-wrap.top {
        background-position: right bottom;
    }
}

@media (max-width:590px) {
    .about_list.first .about_item:nth-child(2) {
        right: 10px;
    }

    .about_list.first .about_item:nth-child(1) {
        left: 20px;
    }

    .about_list.second .about_item:nth-child(1) {
        right: 60px;
    }

    .about_list.first .about_item:nth-child(3) {
        left: 80px;
    }

    .about_list.second .about_item:nth-child(3) {
        right: 50px;
    }

    .about_list.second .about_item:nth-child(2) {
        left: 0px;
    }

    .advantages_title::after {
        right: 20px;
    }

    .advantages_title::before {
        left: 20px;
    }

    .promo_txt,
    .promo_title {
        text-align: center;
    }
}

@media (max-width:550px) {
    .advantages_title::after {
        right: 20px;
    }

    .advantages_title::before {
        left: 20px;
    }

    .advantages_title {
        padding: 0 30px;
    }

    .block-fiwe .contacts_txt-link {
        gap: 7px;
    }

    .contacts_txt-link {
        max-width: fit-content
    }

    .contacts_txt-link {
        gap: 10px;
    }

    .contacts_subtitle-block {
        padding: 20px 20px 18px 20px;
    }

    .block-one .contacts_txt_wrap,
    .contacts_subtitle-block.block-two,
    .block-four-txt-wrap {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 26px;
    }

    .contacts_subtitle-block.block-four {
        padding-right: 20%;
    }

    .promo_politic {
        text-align: center;
        padding: 0 30px;
    }

    .block-three .contacts_txt-link {
        padding: 13px 20px;
        bottom: 20px;
        right: 20px;
    }

    .block-three .contacts_txt {
        width: 50%;
        padding-bottom: 20px;
    }

    .footer_btn {
        min-width: fit-content;
        display: flex;
        gap: 10px;
    }




}

@media (max-width:480px) {
    .about_list.first .about_item:nth-child(2) {
        right: -10px;
    }

    .about_list.second .about_item:nth-child(1) {
        right: -10px;
    }

    .about_list.first .about_item:nth-child(3) {
        left: 20px;
    }

    .portfolio_slide-logo-image {
        margin-bottom: 10px;
        height: 30px;
    }

    .portfolio_slider-wrap {
        padding: 30px 20px;
    }

    .portfolio_slide-txt {
        max-width: 80%;
    }

    .portfolio_slider-wrap.sber .portfolio_slide-txt {
        max-width: 50%;
    }

    .portfolio_slider-wrap.ed {
        background-position: center 50px;
    }

    .portfolio_slider-wrap.glorax {
        background-position: center bottom;
    }

    .portfolio_slider-wrap.top {
        background-position: center bottom;
    }

    .portfolio_slider-wrap.top .portfolio_slide-txt {
        max-width: 80%;
    }

    .advantages_title .br,
    .contacts_title.br {
        display: block;
    }

    .advantages_title::before {
        left: 16%;
    }

    .advantages_title::after {
        right: 18%;
        top: 45px;
    }

    .promo_btn-wrap {
        flex-direction: column;
        gap: 33px;
        width: 100%;
    }

    .promo_btn-txt {
        padding: 18px 35px;
        width: 100%;
    }

    .promo_btn {
        margin: 0;
    }

    .promo_discount {
        right: 0;
    }
}

@media (max-width:440px) {
    .about_list.first .about_item:nth-child(2) {
        right: -25px;
    }

    .step_subtitle {
        max-width: 80%;
    }
}

@media (max-width:420px) {
    .advantages_title::after {
        right: 44px;
    }

    .advantages_title::before {
        left: 35px;
    }
}

@media (max-width:397px) {
    .about_wrap-left {
        background-image: none;
    }

    .about_list.first .about_item:nth-child(2),
    .about_list.second .about_item:nth-child(2) {
        padding: 8px 15px;
    }

    .about_item {
        position: unset;
    }

    .about_list.second {
        margin: 0;
    }

    .about_title {
        height: unset;
    }

    .about_list.first {
        height: unset;
        margin: 0;
    }

    .about_list.second {
        height: unset;
    }

    .about_list.first .about_item:nth-child(2),
    .about_list.second .about_item:nth-child(2) {
        margin-left: auto;
    }

}

@media (max-width:380px) {
    .advantages_title::after {
        right: 34px;
    }

    .advantages_title::before {
        left: 25px;
    }
}

@media (max-width:350px) {
    .advantages_title::after {
        right: 24px;
    }

    .advantages_title::before {
        left: 15px;
    }
}